Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd

Remove the jflex-unicode-maven-plugin
  jflex-unicode-maven-plugin/README.md
  jflex-unicode-maven-plugin/pom.xml
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/DataFileType.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/DerivedAgeScanner.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/JFlexUnicodeMojo.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/NamedRange.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/NamedRangeSet.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/UnicodePropertiesSkeleton.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/UnicodeVersion.java
  jflex-unicode-maven-plugin/src/main/jflex/ArchaicBlocksScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/ArchaicLineBreakScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/ArchaicPropListScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/BinaryPropertiesFileScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/EnumeratedPropertyFileScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/PropertyAliasesScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/PropertyValueAliasesScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/ScriptExtensionsScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/UnicodeDataScanner.flex
  jflex-unicode-maven-plugin/src/main/resources/UnicodeProperties.java.skeleton
  jflex/pom.xml
  jflex/src/main/java/jflex/core/unicode/README.md
  pom.xml
  scripts/post-release.pl
  scripts/prepare-release.pl
  scripts/test-java-format.sh
Owners: @sarowe, @lsf37

Migrate test javatests/de/jflex/testcase/negation
  javatests/de/jflex/testcase/negation/BUILD
  javatests/de/jflex/testcase/negation/NegationGoldenTest.java
  javatests/de/jflex/testcase/negation/negation-0.input
  javatests/de/jflex/testcase/negation/negation-0.output
  javatests/de/jflex/testcase/negation/negation-1.input
  javatests/de/jflex/testcase/negation/negation-1.output
  javatests/de/jflex/testcase/negation/negation.flex
  testsuite/testcases/src/test/cases/negation/.gitignore
  testsuite/testcases/src/test/cases/negation/negation-flex.output
  testsuite/testcases/src/test/cases/negation/negation.test
Owners: @regisd, @lsf37, @sarowe

Migrate javatests/de/jflex/testcase/nevermatch
  javatests/de/jflex/testcase/nevermatch/BUILD
  javatests/de/jflex/testcase/nevermatch/NeverTest.java
  javatests/de/jflex/testcase/nevermatch/expected_sysout.txt
  javatests/de/jflex/testcase/nevermatch/never.flex
  testsuite/testcases/src/test/cases/nevermatch/.gitignore
  testsuite/testcases/src/test/cases/nevermatch/never-flex.output
  testsuite/testcases/src/test/cases/nevermatch/never.test
Owners: @regisd, @lsf37, @sarowe

Update migrator for //java/de/jflex
  java/de/jflex/migration/Migrator.java
  java/de/jflex/migration/README.md
Owners: @lsf37

Add --warn-unused option in JFlexTestRunner
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
  java/de/jflex/testing/testsuite/annotations/TestSpec.java
Owners: @lsf37

Migrate regression test testsuite/testcases/src/test/cases/no-unused
  java/de/jflex/testing/testsuite/annotations/TestSpec.java
  javatests/de/jflex/testcase/no_unused/BUILD
  javatests/de/jflex/testcase/no_unused/NoUnusedTest.java
  javatests/de/jflex/testcase/no_unused/expected_sysout.txt
  javatests/de/jflex/testcase/no_unused/no-unused.flex
  testsuite/testcases/src/test/cases/no-unused/.gitignore
  testsuite/testcases/src/test/cases/no-unused/no-unused-flex.output
  testsuite/testcases/src/test/cases/no-unused/no-unused.test
Owners: @lsf37, @regisd, @sarowe

Give context for the ComparisonFailure in DiffOutputStream
  java/de/jflex/testing/diff/DiffOutputStream.java
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
Owners: @lsf37

Migrate testsuite/testcases/src/test/cases/unused
  javatests/de/jflex/testcase/no_unused/BUILD
  javatests/de/jflex/testcase/no_unused/expected_sysout.txt
  javatests/de/jflex/testcase/unused_warning/BUILD
  javatests/de/jflex/testcase/unused_warning/NoUnusedTest.java
  javatests/de/jflex/testcase/unused_warning/UnusedTest.java
  javatests/de/jflex/testcase/unused_warning/expected_nounused_sysout.txt
  javatests/de/jflex/testcase/unused_warning/expected_unused_sysout.txt
  javatests/de/jflex/testcase/unused_warning/no-unused.flex
  javatests/de/jflex/testcase/unused_warning/unused.flex
  testsuite/testcases/src/test/cases/unused/.gitignore
  testsuite/testcases/src/test/cases/unused/unused-flex.output
  testsuite/testcases/src/test/cases/unused/unused.test
Owners: @regisd, @lsf37, @sarowe

Remove migrated sevenbit
  testsuite/testcases/src/test/cases/sevenbit/.gitignore
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-0.input
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-0.output
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-flex.output
  testsuite/testcases/src/test/cases/sevenbit/sevenbit.flex
  testsuite/testcases/src/test/cases/sevenbit/sevenbit.test
Owners: @sarowe

Migrate javatests/de/jflex/testcase/semcheck
  javatests/de/jflex/testcase/semcheck/BUILD
  javatests/de/jflex/testcase/semcheck/SemcheckTest.java
  javatests/de/jflex/testcase/semcheck/semcheck-flex.output
  javatests/de/jflex/testcase/semcheck/semcheck.flex
  testsuite/testcases/src/test/cases/semcheck/semcheck-flex.output
  testsuite/testcases/src/test/cases/semcheck/semcheck.test
Owners: @regisd, @lsf37, @sarowe

Generate BUILDbazel for regression tests
  java/de/jflex/migration/Migrator.java
  javatests/de/jflex/testcase/negation/BUILD.bzl
  javatests/de/jflex/testcase/nevermatch/BUILD.bzl
  javatests/de/jflex/testcase/semcheck/BUILD.bzl
  javatests/de/jflex/testcase/unused_warning/BUILD.bzl
Owners: @lsf37

Migrate testsuite/testcases/src/test/cases/six-digit-unicode-escape
  java/de/jflex/testcase/resources/AbstractUnicodeAllBinaryProperty.java
  java/de/jflex/testcase/resources/AbstractUnicodeAllEnumeratedProperty.java
  java/de/jflex/testcase/resources/All.Unicode.BMP.characters.input
  java/de/jflex/testcase/resources/BUILD.bazel
  java/de/jflex/testcase/resources/common-unicode-all-enumerated-property-defined-values-only-java
  java/de/jflex/testcase/resources/common-unicode-binary-property-java
  java/de/jflex/testcase/resources/common-unicode-enumerated-property-defined-values-only-java
  java/de/jflex/testcase/resources/common-unicode-enumerated-property-java
  javatests/de/jflex/testcase/six_digit_unicode_escape/BUILD.bazel
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixDigitUnicodeEscape-f-2.flex
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixDigitUnicodeEscape-f.flex
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixDigitUnicodeEscape.flex
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeFailure2Test.java
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeFailureTest.java
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeTest.java
  javatests/de/jflex/testcase/six_digit_unicode_escape/failure.out
  javatests/de/jflex/testcase/six_digit_unicode_escape/failure2.out
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/.gitignore
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f-2-flex.output
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f-2.flex
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f-2.test
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f-flex.output
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f.flex
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f.test
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-flex.output
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape.output
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape.test
  testsuite/testcases/src/test/resources/common-unicode-all-binary-property-java
  testsuite/testcases/src/test/resources/common-unicode-all-enumerated-property-defined-values-only-java
Owners: @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_2_0
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  javatests/jflex/core/unicode/BUILD.bazel
  javatests/jflex/core/unicode/UnicodeAgeTest_2_0.java
  javatests/jflex/core/unicode/UnicodeAge_2_0_age_2_0.flex
  javatests/jflex/core/unicode/UnicodeAge_2_0_age_2_0.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_2_0-flex.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_2_0.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_2_0.test
Owners: @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_1_1
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  java/de/jflex/testing/unicodedata/BUILD.bazel
  javatests/jflex/core/unicode/BUILD.bazel
  javatests/jflex/core/unicode/README.md
  javatests/jflex/core/unicode/UnicodeAgeTest_2_0.java
  javatests/jflex/core/unicode/UnicodeAge_2_0_age_1_1.flex
  javatests/jflex/core/unicode/UnicodeAge_2_0_age_1_1.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_1_1-flex.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_1_1.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_1_1.test
  third_party/com/google/truth/BUILD.bazel
Owners: @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/syntaxnull
  javatests/de/jflex/testcase/flex_syntax_error/BUILD.bazel
  javatests/de/jflex/testcase/flex_syntax_error/SyntaxErrorTest.java
  javatests/de/jflex/testcase/flex_syntax_error/null-flex.output
  javatests/de/jflex/testcase/flex_syntax_error/null.flex
  testsuite/testcases/src/test/cases/syntaxnull/null-flex.output
  testsuite/testcases/src/test/cases/syntaxnull/null.test
Owners: @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/spoon-feed-reader
  javatests/de/jflex/testcase/spoon_feed_reader/BUILD.bazel
  javatests/de/jflex/testcase/spoon_feed_reader/SpoonFeedMaxCharsReaderWrapper.java
  javatests/de/jflex/testcase/spoon_feed_reader/SpoonFeedReader.flex
  javatests/de/jflex/testcase/spoon_feed_reader/SpoonFeedReaderF.flex
  javatests/de/jflex/testcase/spoon_feed_reader/SpoonFeedReaderTest.java
  javatests/de/jflex/testcase/spoon_feed_reader/problematic.skeleton.default
  testsuite/testcases/src/test/cases/spoon-feed-reader/.gitignore
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedMaxCharsReaderWrapper.java
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader-0.input
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader-0.output
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader-flex.output
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader.flex
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader.test
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF-0.input
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF-0.output
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF-flex.output
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF.flex
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF.test
  testsuite/testcases/src/test/cases/spoon-feed-reader/fixed.skeleton.default
Owners: @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_unassigned
  javatests/jflex/core/unicode/BUILD.bazel
  javatests/jflex/core/unicode/UnicodeAgeTest_2_0.java
  javatests/jflex/core/unicode/UnicodeAge_2_0_age_unassigned.flex
  javatests/jflex/core/unicode/UnicodeAge_2_0_age_unassigned.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_unassigned-flex.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_unassigned.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_unassigned.test
Owners: @lsf37, @sarowe

Move Unicode_2_0 regression test to javatests/de/jflex/testcase/unicode/unicode_2_0
  javatests/de/jflex/testcase/unicode/README.md
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_1_1.output
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_2_0.output
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_subtraction.output
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_unassigned.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_unassigned.output
Owners: @lsf37

Fix copyright date
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
Owners: @lsf37

Extract assertion about age property in java/de/jflex/testing/unicodedata/Ages.java
  java/de/jflex/testing/unicodedata/Ages.java
  java/de/jflex/testing/unicodedata/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
Owners: @lsf37

Migrate testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_subtraction
  javatests/jflex/core/unicode/BUILD.bazel
  javatests/jflex/core/unicode/UnicodeAgeTest_2_0.java
  javatests/jflex/core/unicode/UnicodeAge_2_0_age_subtraction.flex
  javatests/jflex/core/unicode/UnicodeAge_2_0_age_subtraction.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_subtraction-flex.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_subtraction.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_subtraction.test
Owners: @lsf37, @sarowe

Add missing dep on Guava
  java/de/jflex/testing/diff/BUILD.bazel
Owners: @lsf37

Generate data for UnicodeAgeTestTemplateVars.java
  java/de/jflex/testing/unicodedata/generator/TestGenerator.java
  java/de/jflex/testing/unicodedata/generator/UnicodeAgeTestTemplateVars.java
  java/de/jflex/testing/unicodedata/generator/UnicodeAgeTest_x_y.java.vm
Owners: @lsf37

Hardcoded TestGenerator that generates UnicodeAgeTest_2_0.java
  java/de/jflex/testing/unicodedata/generator/BUILD.bazel
  java/de/jflex/testing/unicodedata/generator/README.md
  java/de/jflex/testing/unicodedata/generator/TestGenerator.java
  java/de/jflex/testing/unicodedata/generator/UnicodeAgeTestTemplateVars.java
  java/de/jflex/testing/unicodedata/generator/UnicodeAgeTest_x_y.java.vm
Owners: @lsf37

Improve bazel query to fully show the prohibited dep
  scripts/check_deps.bzl
  scripts/check_file_empty.sh
Owners: @lsf37

Prohibit dep from javatests/de/jflex/testcase/unicode/unicode_2_0 to prod jflex_bin
  javatests/de/jflex/testcase/README.md
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  scripts/BUILD.bazel
  scripts/check_deps.bzl
  scripts/check_file_empty.sh
Owners: @lsf37

Fix mixing space in golden.
  javatests/de/jflex/testcase/flex_syntax_error/null-flex.output
Owners: @lsf37

Add missing throw in UnicodeAgeTest vm
  java/de/jflex/testing/unicodedata/generator/UnicodeAgeTest_x_y.java.vm
Owners: @lsf37

Generate unicodedata test file in source directory.
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/TestGenerator.java
Owners: @lsf37

Reorganize migrators.
  java/de/jflex/migration/testcase/BUILD-header.bzl
  java/de/jflex/migration/testcase/BUILD.bazel
  java/de/jflex/migration/testcase/BUILD.vm
  java/de/jflex/migration/testcase/MigrationException.java
  java/de/jflex/migration/testcase/MigrationTemplateVars.java
  java/de/jflex/migration/testcase/Migrator.java
  java/de/jflex/migration/testcase/README.md
  java/de/jflex/migration/testcase/TestCase.java
  java/de/jflex/migration/testcase/TestCase.java.vm
  java/de/jflex/migration/testcase/TestSpecScanner.flex
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/TestGenerator.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeTestTemplateVars.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeTest_x_y.java.vm
  java/de/jflex/testing/unicodedata/generator/README.md
Owners: @lsf37

Refactor common output vars in Output.java
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/Output.java
  java/de/jflex/migration/unicodedatatest/TestGenerator.java
Owners: @lsf37

Generate BUILD for javatests/de/jflex/testcase/unicode/unicode_2_0
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/BuildFileTemplateVars.java
  java/de/jflex/migration/unicodedatatest/TestGenerator.java
  java/de/jflex/version/Version.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/ucd_generator/TestedVersions.java
Owners: @lsf37

Generate UnicodeAge_x_y_age_a_b.java
  java/de/jflex/migration/unicodedatatest/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/JavaTestGenerator.java
  java/de/jflex/migration/unicodedatatest/Migrator.java
  java/de/jflex/migration/unicodedatatest/Output.java
  java/de/jflex/migration/unicodedatatest/UnicodeAge.flex.vm
  java/de/jflex/migration/unicodedatatest/UnicodeAge.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeTemplateVars.java
  java/de/jflex/version/Version.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_2_0.flex
Owners: @lsf37

Refactor: Slit the TestGenerator
  java/de/jflex/migration/testcase/Migrator.java
  java/de/jflex/migration/unicodedatatest/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/BuildFileGenerator.java
  java/de/jflex/migration/unicodedatatest/JavaResources.java
  java/de/jflex/migration/unicodedatatest/JavaTestGenerator.java
  java/de/jflex/migration/unicodedatatest/Migrator.java
  java/de/jflex/migration/unicodedatatest/TestGenerator.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeTemplateVars.java
Owners: @lsf37

Also generate UnicodeAge_2_0_age_subtraction.flex
  java/de/jflex/migration/README.md
  java/de/jflex/migration/testcase/Migrator.java
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/Migrator.java
  java/de/jflex/migration/unicodedatatest/Pair.java
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/UnicodeAgeGenerator.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/UnicodeAgeSubtractionTemplateVars.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_subtraction.flex
Owners: @lsf37

Also generate age_unsassigned
  java/de/jflex/migration/unicodedatatest/UnicodeAgeGenerator.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeTemplateVars.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_unassigned.flex
Owners: @lsf37

Add //third_party/javax:annotation
  third_party/deps.bzl
  third_party/javax/BUILD.bazel
  third_party/maven_install.json
Owners: @lsf37

Add @Generated annotation
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/Pair.java
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/UnicodeAge.flex.vm
  java/de/jflex/migration/unicodedatatest/UnicodeAgeGenerator.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/UnicodeAgeTest_x_y.java.vm
  java/de/jflex/testing/unicodedata/Ages.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_unassigned.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAgeTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_unassigned.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAgeTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_3_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_unassigned.flex
Owners: @lsf37

Migrate testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/UnicodeAgeGenerator.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/testing/unicodedata/Ages.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAgeTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_1_1-flex.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_1_1.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_0-flex.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_0.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_1-flex.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_1.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_subtraction-flex.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_subtraction.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_unassigned-flex.output
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_unassigned.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_unassigned.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_1_1.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_1_1.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_2_0.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_2_0.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_2_1.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_2_1.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_subtraction.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_subtraction.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_unassigned.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_1_age_unassigned.test
Owners: @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0
  java/de/jflex/migration/unicodedatatest/README.md
  javatests/de/jflex/testcase/unicode/unicode_3_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAgeTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_1_1-flex.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_1_1.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_0-flex.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_0.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_1-flex.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_1.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_3_0-flex.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_3_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_3_0.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_subtraction-flex.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_subtraction.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_unassigned-flex.output
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_unassigned.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_unassigned.output
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_1_1.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_1_1.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_2_0.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_2_0.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_2_1.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_2_1.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_3_0.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_3_0.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_subtraction.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_subtraction.test
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_unassigned.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_3_0_age_unassigned.test
Owners: @lsf37, @sarowe
