Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd

Use codePointAt rather than charAt in Abstract Scanner.
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
Owners: @lsf37

Initialize scanners with the correct maxCodePoint.
  java/de/jflex/migration/unicodedatatest/UnicodeAge.flex.vm
  java/de/jflex/migration/unicodedatatest/UnicodeAgeGenerator.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/UnicodeAgeSubtractionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/UnicodeAgeTemplateVars.java
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAge_2_0_age_unassigned.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_2_1.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAge_2_1_age_unassigned.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_2_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_3_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAge_3_0_age_unassigned.flex
  javatests/de/jflex/testcase/unicode/unicode_3_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAge_3_1_age_1_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAge_3_1_age_2_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAge_3_1_age_2_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAge_3_1_age_3_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAge_3_1_age_3_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAge_3_1_age_subtraction.flex
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAge_3_1_age_unassigned.flex
Owners: @lsf37

Reorganize java/de/jflex/migration/unicodedatatest
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/base/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/base/Output.java
  java/de/jflex/migration/unicodedatatest/base/Pair.java
  java/de/jflex/migration/unicodedatatest/testage/AgeMigrator.java
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testage/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testage/BuildFileGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/BuildFileTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/README.md
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAge.flex.vm
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtractionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTest_x_y.java.vm
  java/de/jflex/migration/unicodedatatest/util/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/util/JavaResources.java
  testsuite/testcases/src/test/cases/unicode-age/.gitignore
Owners: @lsf37, @sarowe

Extract common fields in UnicodeVersionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersion.java
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/AgeTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testage/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testage/README.md
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAge.flex.vm
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtractionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTest_x_y.java.vm
Owners: @lsf37

Add Mockito in //third_party
  third_party/deps.bzl
  third_party/maven_install.json
  third_party/org/mockito/BUILD.bazel
Owners: @lsf37

Initial version of a BlockTest generator
  java/de/jflex/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/base/AbstractSimpleParser.java
  java/de/jflex/migration/unicodedatatest/base/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/BlockSpec.java
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/README.md
  java/de/jflex/migration/unicodedatatest/testblock/SimpleBlocksParser.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlock.flex.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexTemplateVars.java
  java/de/jflex/ucd/BUILD.bazel
  java/de/jflex/ucd/CodepointRange.java
  java/de/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/de/jflex/ucd_generator/scanner/AbstractArchaicPropListScanner.java
  java/de/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/de/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/de/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/de/jflex/ucd_generator/ucd/BUILD.bazel
  java/de/jflex/ucd_generator/ucd/CodepointRangeSet.java
  java/de/jflex/ucd_generator/ucd/PropertyValueIntervals.java
  java/de/jflex/ucd_generator/ucd/SurrogateUtils.java
  java/de/jflex/ucd_generator/ucd/UnicodeData.java
  javatests/de/jflex/migration/unicodedatatest/base/AbstractSimpleParserTest.java
  javatests/de/jflex/migration/unicodedatatest/base/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeBlocks_2_0.flex
  javatests/de/jflex/ucd_generator/scanner/UcdScannerIntegrationTest.java
  javatests/de/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
  javatests/de/jflex/ucd_generator/ucd/SurrogateUtilsTest.java
  javatests/de/jflex/ucd_generator/ucd/UnicodeDataTest.java
Owners: @lsf37

java format
  java/de/jflex/migration/testcase/Migrator.java
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/base/AbstractSimpleParser.java
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/AgeTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/BuildFileGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtractionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testblock/BlockSpec.java
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/SimpleBlocksParser.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexGenerator.java
  java/de/jflex/testing/unicodedata/Ages.java
  java/de/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  javatests/de/jflex/migration/unicodedatatest/base/AbstractSimpleParserTest.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeAgeTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeAgeTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeAgeTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeAgeTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAgeTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAgeTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAgeTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeAgeTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeAgeTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeAgeTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeAgeTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeAgeTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeAgeTest_5_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeAgeTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeAgeTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeAgeTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeAgeTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeAgeTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeAgeTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeAgeTest_9_0.java
  javatests/de/jflex/ucd_generator/scanner/UcdScannerIntegrationTest.java
Owners: @lsf37

Parse Blocks.txt
  java/de/jflex/migration/unicodedatatest/base/AbstractSimpleParser.java
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/README.md
  java/de/jflex/migration/unicodedatatest/testblock/SimpleBlocksParser.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlock.flex.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexTemplateVars.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeBlocks_2_0.flex
Owners: @lsf37

Re-generate UnicodeBlocks_2_0.flex with Bazel
  java/de/jflex/migration/unicodedatatest/testblock/BlockSpec.java
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/ucd/BUILD.bazel
  java/de/jflex/ucd/SurrogateUtils.java
  java/de/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/de/jflex/ucd_generator/ucd/PropertyValueIntervals.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeBlocks_2_0.flex
  javatests/de/jflex/ucd_generator/ucd/SurrogateUtilsTest.java
Owners: @lsf37

Re-generate UnicodeBlocks_2_1.flex and UnicodeBlocks_3_0.flex UnicodeBlocks_3_2.flex UnicodeBlocks_4_0.flex
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/BlockSpec.java
  java/de/jflex/migration/unicodedatatest/testblock/README.md
  java/de/jflex/migration/unicodedatatest/testblock/gen_scanner.bzl
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeBlocks_2_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeBlocks_3_0.flex
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeBlocks_3_1.flex
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeBlocks_3_2.flex
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeBlocks_4_0.flex
Owners: @lsf37

Rename unicode target as ucd_x_y for consistency
  java/de/jflex/ucd_generator/BUILD.bazel
  javatests/de/jflex/ucd_generator/BUILD.bazel
  javatests/de/jflex/ucd_generator/scanner/BUILD.bazel
  third_party/unicode/BUILD.bazel
  third_party/unicode/unicode.bzl
Owners: @lsf37

Regenare all flex UnicodeBlocks_x_y.flex
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/README.md
  java/de/jflex/migration/unicodedatatest/testblock/gen_scanner.bzl
  java/de/jflex/ucd_generator/BUILD.bazel
  java/de/jflex/ucd_generator/README.md
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeBlocks_10_0.flex
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeBlocks_11_0.flex
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeBlocks_12_0.flex
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeBlocks_12_1.flex
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeBlocks_4_1.flex
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeBlocks_5_0.flex
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeBlocks_5_1.flex
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeBlocks_5_2.flex
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeBlocks_6_0.flex
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeBlocks_6_1.flex
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeBlocks_6_2.flex
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeBlocks_6_3.flex
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeBlocks_7_0.flex
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeBlocks_8_0.flex
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeBlocks_9_0.flex
  javatests/de/jflex/ucd_generator/MainTest.java
  javatests/de/jflex/ucd_generator/TestedVersions.java
  third_party/unicode/BUILD.bazel
Owners: @lsf37

Add deps for Blocks
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_3/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_7_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_8_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
Owners: @lsf37

Rename Ages to UnicodeDataScanners because it contains helpers for any scanner.
  java/de/jflex/migration/unicodedatatest/BuildFileGenerator.java
  java/de/jflex/migration/unicodedatatest/BuildFileTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTest_x_y.java.vm
  java/de/jflex/testing/unicodedata/UnicodeDataScanners.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeAgeTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeAgeTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeAgeTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeAgeTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAgeTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAgeTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAgeTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeAgeTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeAgeTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeAgeTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeAgeTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeAgeTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeAgeTest_5_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeAgeTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeAgeTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeAgeTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeAgeTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeAgeTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeAgeTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeAgeTest_9_0.java
Owners: @lsf37

Make getBlocks() return a full block specification, so that it can properly be tested.
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  java/de/jflex/testing/unicodedata/BUILD.bazel
  java/de/jflex/testing/unicodedata/BlockSpec.java
  java/de/jflex/testing/unicodedata/UnicodeDataScanners.java
Owners: @lsf37

Skeleton UnicodeBlocksTest_2_1
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeBlocksTest_2_1.java
Owners: @lsf37

Generate UnicodeBlocksTest_2_1.java from .vm
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTest_x_y.java.vm
  java/de/jflex/migration/unicodedatatest/testblock/AbstractBlocksGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/BlockTest.java.vm
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTest.java.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaTemplateVars.java
  java/de/jflex/testing/unicodedata/BlockSpec.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
Owners: @lsf37

Correct template for UnicodeBlocksTest_x_y
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/testblock/AbstractBlocksGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/README.md
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTest.java.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testblock/gen_scanner.bzl
  java/de/jflex/testing/unicodedata/BlockSpec.java
  java/de/jflex/testing/unicodedata/UnicodeDataScanners.java
  java/de/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeBlocksTest_2_1.java
  javatests/de/jflex/ucd_generator/TestedVersions.java
Owners: @lsf37

Add Mockito and javax.annotation
  third_party/deps.bzl
  third_party/javax/BUILD.bazel
  third_party/maven_install.json
  third_party/org/mockito/BUILD.bazel
Owners: @lsf37

Add Mockito and javax.annotation
  third_party/deps.bzl
  third_party/javax/BUILD.bazel
  third_party/maven_install.json
  third_party/org/mockito/BUILD.bazel
Owners: @lsf37

Add custom handler in DiffOutputStream
  java/de/jflex/testing/diff/BUILD.bazel
  java/de/jflex/testing/diff/DiffOutputStream.java
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
Owners: @lsf37

Add a build def to check for prohibited build deps.
  scripts/BUILD.bazel
  scripts/check_deps.bzl
  scripts/check_file_empty.sh
Owners: @lsf37

Ensure that regression tests depend on the HEAD version of JFlex
  javatests/de/jflex/testcase/action_pipe/BUILD.bazel
  javatests/de/jflex/testcase/bol/BUILD.bazel
  javatests/de/jflex/testcase/buffer/BUILD.bazel
  javatests/de/jflex/testcase/caseless_jflex/BUILD.bazel
  javatests/de/jflex/testcase/caseless_jlex/BUILD.bazel
  javatests/de/jflex/testcase/ccl_16/BUILD.bazel
  javatests/de/jflex/testcase/ccl_bug/BUILD.bazel
  javatests/de/jflex/testcase/ccl_esc/BUILD.bazel
  javatests/de/jflex/testcase/ccl_macros/BUILD.bazel
  javatests/de/jflex/testcase/ccl_pre/BUILD.bazel
  javatests/de/jflex/testcase/charclass/BUILD.bazel
  javatests/de/jflex/testcase/count/BUILD.bazel
  javatests/de/jflex/testcase/ctorarg/BUILD.bazel
  javatests/de/jflex/testcase/cup2private/BUILD.bazel
  javatests/de/jflex/testcase/cupsym/BUILD.bazel
  javatests/de/jflex/testcase/dot_newline/BUILD.bazel
  javatests/de/jflex/testcase/empty_match/BUILD.bazel
  javatests/de/jflex/testcase/eof/BUILD.bazel
  javatests/de/jflex/testcase/eof_min/BUILD.bazel
  javatests/de/jflex/testcase/eofclose/BUILD.bazel
  javatests/de/jflex/testcase/eol_comment/BUILD.bazel
  javatests/de/jflex/testcase/eol_look/BUILD.bazel
  javatests/de/jflex/testcase/fixed_look/BUILD.bazel
  javatests/de/jflex/testcase/generics/BUILD.bazel
  javatests/de/jflex/testcase/genlook/BUILD.bazel
  javatests/de/jflex/testcase/genlook2/BUILD.bazel
  javatests/de/jflex/testcase/include/BUILD.bazel
  javatests/de/jflex/testcase/include2/BUILD.bazel
  javatests/de/jflex/testcase/include_in_rules/BUILD.bazel
  javatests/de/jflex/testcase/initthrow_eol/BUILD.bazel
  javatests/de/jflex/testcase/large_input/BUILD.bazel
  javatests/de/jflex/testcase/look/BUILD.bazel
  javatests/de/jflex/testcase/look_macro/BUILD.bazel
  javatests/de/jflex/testcase/macro_exp/BUILD.bazel
  javatests/de/jflex/testcase/sevenbit/BUILD.bazel
  scripts/check_file_empty.sh
Owners: @lsf37

Add custom handler in DiffOutputStream
  java/de/jflex/testing/diff/BUILD.bazel
  java/de/jflex/testing/diff/DiffOutputStream.java
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
Owners: @lsf37

Remove the jflex-unicode-maven-plugin
  jflex-unicode-maven-plugin/README.md
  jflex-unicode-maven-plugin/pom.xml
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/DataFileType.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/DerivedAgeScanner.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/JFlexUnicodeMojo.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/NamedRange.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/NamedRangeSet.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/UnicodePropertiesSkeleton.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/UnicodeVersion.java
  jflex-unicode-maven-plugin/src/main/jflex/ArchaicBlocksScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/ArchaicLineBreakScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/ArchaicPropListScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/BinaryPropertiesFileScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/EnumeratedPropertyFileScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/PropertyAliasesScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/PropertyValueAliasesScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/ScriptExtensionsScanner.flex
  jflex-unicode-maven-plugin/src/main/jflex/UnicodeDataScanner.flex
  jflex-unicode-maven-plugin/src/main/resources/UnicodeProperties.java.skeleton
  jflex/pom.xml
  jflex/src/main/java/jflex/core/unicode/README.md
  pom.xml
  scripts/post-release.pl
  scripts/prepare-release.pl
  scripts/test-java-format.sh
Owners: @sarowe, @lsf37

Ensure regression test depends on HEAD Jflex version (#856)
  javatests/de/jflex/testcase/action_pipe/BUILD.bazel
  javatests/de/jflex/testcase/bol/BUILD.bazel
  javatests/de/jflex/testcase/buffer/BUILD.bazel
  javatests/de/jflex/testcase/caseless_jflex/BUILD.bazel
  javatests/de/jflex/testcase/caseless_jlex/BUILD.bazel
  javatests/de/jflex/testcase/ccl_16/BUILD.bazel
  javatests/de/jflex/testcase/ccl_bug/BUILD.bazel
  javatests/de/jflex/testcase/ccl_esc/BUILD.bazel
  javatests/de/jflex/testcase/ccl_macros/BUILD.bazel
  javatests/de/jflex/testcase/ccl_pre/BUILD.bazel
  javatests/de/jflex/testcase/charclass/BUILD.bazel
  javatests/de/jflex/testcase/count/BUILD.bazel
  javatests/de/jflex/testcase/ctorarg/BUILD.bazel
  javatests/de/jflex/testcase/cup2private/BUILD.bazel
  javatests/de/jflex/testcase/cupsym/BUILD.bazel
  javatests/de/jflex/testcase/dot_newline/BUILD.bazel
  javatests/de/jflex/testcase/empty_match/BUILD.bazel
  javatests/de/jflex/testcase/eof/BUILD.bazel
  javatests/de/jflex/testcase/eof_min/BUILD.bazel
  javatests/de/jflex/testcase/eofclose/BUILD.bazel
  javatests/de/jflex/testcase/eol_comment/BUILD.bazel
  javatests/de/jflex/testcase/eol_look/BUILD.bazel
  javatests/de/jflex/testcase/fixed_look/BUILD.bazel
  javatests/de/jflex/testcase/generics/BUILD.bazel
  javatests/de/jflex/testcase/genlook/BUILD.bazel
  javatests/de/jflex/testcase/genlook2/BUILD.bazel
  javatests/de/jflex/testcase/include/BUILD.bazel
  javatests/de/jflex/testcase/include2/BUILD.bazel
  javatests/de/jflex/testcase/include_in_rules/BUILD.bazel
  javatests/de/jflex/testcase/initthrow_eol/BUILD.bazel
  javatests/de/jflex/testcase/large_input/BUILD.bazel
  javatests/de/jflex/testcase/look/BUILD.bazel
  javatests/de/jflex/testcase/look_macro/BUILD.bazel
  javatests/de/jflex/testcase/macro_exp/BUILD.bazel
  javatests/de/jflex/testcase/sevenbit/BUILD.bazel
  scripts/BUILD.bazel
  scripts/check_deps.bzl
  scripts/check_file_empty.sh
Owners: @lsf37

Update migrator for //java/de/jflex
  java/de/jflex/migration/Migrator.java
  java/de/jflex/migration/README.md
Owners: @lsf37

Migrate javatests/de/jflex/testcase/nevermatch
  javatests/de/jflex/testcase/nevermatch/BUILD
  javatests/de/jflex/testcase/nevermatch/NeverTest.java
  javatests/de/jflex/testcase/nevermatch/expected_sysout.txt
  javatests/de/jflex/testcase/nevermatch/never.flex
  testsuite/testcases/src/test/cases/nevermatch/.gitignore
  testsuite/testcases/src/test/cases/nevermatch/never-flex.output
  testsuite/testcases/src/test/cases/nevermatch/never.test
Owners: @regisd, @lsf37, @sarowe

Migrate test javatests/de/jflex/testcase/negation
  javatests/de/jflex/testcase/negation/BUILD
  javatests/de/jflex/testcase/negation/NegationGoldenTest.java
  javatests/de/jflex/testcase/negation/negation-0.input
  javatests/de/jflex/testcase/negation/negation-0.output
  javatests/de/jflex/testcase/negation/negation-1.input
  javatests/de/jflex/testcase/negation/negation-1.output
  javatests/de/jflex/testcase/negation/negation.flex
  testsuite/testcases/src/test/cases/negation/.gitignore
  testsuite/testcases/src/test/cases/negation/negation-flex.output
  testsuite/testcases/src/test/cases/negation/negation.test
Owners: @regisd, @lsf37, @sarowe

Migrate regression test testsuite/testcases/src/test/cases/no-unused
  java/de/jflex/testing/testsuite/annotations/TestSpec.java
  javatests/de/jflex/testcase/no_unused/BUILD
  javatests/de/jflex/testcase/no_unused/NoUnusedTest.java
  javatests/de/jflex/testcase/no_unused/expected_sysout.txt
  javatests/de/jflex/testcase/no_unused/no-unused.flex
  testsuite/testcases/src/test/cases/no-unused/.gitignore
  testsuite/testcases/src/test/cases/no-unused/no-unused-flex.output
  testsuite/testcases/src/test/cases/no-unused/no-unused.test
Owners: @lsf37, @regisd, @sarowe

Add --warn-unused option in JFlexTestRunner
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
  java/de/jflex/testing/testsuite/annotations/TestSpec.java
Owners: @lsf37

Generate BUILDbazel for regression tests
  java/de/jflex/migration/Migrator.java
  javatests/de/jflex/testcase/negation/BUILD.bzl
  javatests/de/jflex/testcase/nevermatch/BUILD.bzl
  javatests/de/jflex/testcase/semcheck/BUILD.bzl
  javatests/de/jflex/testcase/unused_warning/BUILD.bzl
Owners: @lsf37

Remove migrated sevenbit
  testsuite/testcases/src/test/cases/sevenbit/.gitignore
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-0.input
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-0.output
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-flex.output
  testsuite/testcases/src/test/cases/sevenbit/sevenbit.flex
  testsuite/testcases/src/test/cases/sevenbit/sevenbit.test
Owners: @sarowe

Migrate testsuite/testcases/src/test/cases/unused
  javatests/de/jflex/testcase/no_unused/BUILD
  javatests/de/jflex/testcase/no_unused/expected_sysout.txt
  javatests/de/jflex/testcase/unused_warning/BUILD
  javatests/de/jflex/testcase/unused_warning/NoUnusedTest.java
  javatests/de/jflex/testcase/unused_warning/UnusedTest.java
  javatests/de/jflex/testcase/unused_warning/expected_nounused_sysout.txt
  javatests/de/jflex/testcase/unused_warning/expected_unused_sysout.txt
  javatests/de/jflex/testcase/unused_warning/no-unused.flex
  javatests/de/jflex/testcase/unused_warning/unused.flex
  testsuite/testcases/src/test/cases/unused/.gitignore
  testsuite/testcases/src/test/cases/unused/unused-flex.output
  testsuite/testcases/src/test/cases/unused/unused.test
Owners: @regisd, @lsf37, @sarowe

Migrate javatests/de/jflex/testcase/semcheck
  javatests/de/jflex/testcase/semcheck/BUILD
  javatests/de/jflex/testcase/semcheck/SemcheckTest.java
  javatests/de/jflex/testcase/semcheck/semcheck-flex.output
  javatests/de/jflex/testcase/semcheck/semcheck.flex
  testsuite/testcases/src/test/cases/semcheck/semcheck-flex.output
  testsuite/testcases/src/test/cases/semcheck/semcheck.test
Owners: @regisd, @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/spoon-feed-reader
  javatests/de/jflex/testcase/spoon_feed_reader/BUILD.bazel
  javatests/de/jflex/testcase/spoon_feed_reader/SpoonFeedMaxCharsReaderWrapper.java
  javatests/de/jflex/testcase/spoon_feed_reader/SpoonFeedReader.flex
  javatests/de/jflex/testcase/spoon_feed_reader/SpoonFeedReaderF.flex
  javatests/de/jflex/testcase/spoon_feed_reader/SpoonFeedReaderTest.java
  javatests/de/jflex/testcase/spoon_feed_reader/problematic.skeleton.default
  testsuite/testcases/src/test/cases/spoon-feed-reader/.gitignore
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedMaxCharsReaderWrapper.java
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader-0.input
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader-0.output
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader-flex.output
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader.flex
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReader.test
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF-0.input
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF-0.output
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF-flex.output
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF.flex
  testsuite/testcases/src/test/cases/spoon-feed-reader/SpoonFeedReaderF.test
  testsuite/testcases/src/test/cases/spoon-feed-reader/fixed.skeleton.default
Owners: @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/six-digit-unicode-escape
  java/de/jflex/testcase/resources/AbstractUnicodeAllBinaryProperty.java
  java/de/jflex/testcase/resources/AbstractUnicodeAllEnumeratedProperty.java
  java/de/jflex/testcase/resources/All.Unicode.BMP.characters.input
  java/de/jflex/testcase/resources/BUILD.bazel
  java/de/jflex/testcase/resources/common-unicode-all-enumerated-property-defined-values-only-java
  java/de/jflex/testcase/resources/common-unicode-binary-property-java
  java/de/jflex/testcase/resources/common-unicode-enumerated-property-defined-values-only-java
  java/de/jflex/testcase/resources/common-unicode-enumerated-property-java
  javatests/de/jflex/testcase/six_digit_unicode_escape/BUILD.bazel
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixDigitUnicodeEscape-f-2.flex
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixDigitUnicodeEscape-f.flex
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixDigitUnicodeEscape.flex
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeFailure2Test.java
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeFailureTest.java
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeTest.java
  javatests/de/jflex/testcase/six_digit_unicode_escape/failure.out
  javatests/de/jflex/testcase/six_digit_unicode_escape/failure2.out
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/.gitignore
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f-2-flex.output
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f-2.flex
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f-2.test
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f-flex.output
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f.flex
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-f.test
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape-flex.output
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape.output
  testsuite/testcases/src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape.test
  testsuite/testcases/src/test/resources/common-unicode-all-binary-property-java
  testsuite/testcases/src/test/resources/common-unicode-all-enumerated-property-defined-values-only-java
Owners: @lsf37, @sarowe

Migrate testsuite/testcases/src/test/cases/syntaxnull
  javatests/de/jflex/testcase/flex_syntax_error/BUILD.bazel
  javatests/de/jflex/testcase/flex_syntax_error/SyntaxErrorTest.java
  javatests/de/jflex/testcase/flex_syntax_error/null-flex.output
  javatests/de/jflex/testcase/flex_syntax_error/null.flex
  testsuite/testcases/src/test/cases/syntaxnull/null-flex.output
  testsuite/testcases/src/test/cases/syntaxnull/null.test
Owners: @lsf37, @sarowe

Revert moving resources.
  java/de/jflex/testcase/resources/BUILD.bazel
  javatests/de/jflex/testcase/flex_syntax_error/null-flex.output
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeTest.java
  testsuite/testcases/src/test/resources/All.Unicode.BMP.characters.input
  testsuite/testcases/src/test/resources/BUILD.bazel
  testsuite/testcases/src/test/resources/common-unicode-all-binary-property-java
  testsuite/testcases/src/test/resources/common-unicode-all-enumerated-property-defined-values-only-java
  testsuite/testcases/src/test/resources/common-unicode-all-enumerated-property-java
  testsuite/testcases/src/test/resources/common-unicode-binary-property-java
  testsuite/testcases/src/test/resources/common-unicode-enumerated-property-defined-values-only-java
  testsuite/testcases/src/test/resources/common-unicode-enumerated-property-java
Owners: @lsf37, @sarowe

Remove unused java/de/jflex/testcase/resources/AbstractUnicodeAllBinaryProperty.java
  java/de/jflex/testcase/resources/AbstractUnicodeAllBinaryProperty.java
Owners: @lsf37
