Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd

examples: Fix a tiny mistake (jflex-de#770)
  jflex/examples/simple/src/main/jflex/simple.flex
Owners: @lsf37

examples: Fix a tiny mistake (jflex-de#770)
  jflex/examples/simple/src/main/jflex/simple.flex
Owners: @lsf37

Emit UCD propertyValueAliases
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/util/PropertyNameNormalizer.java
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterGoldenTest.java
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
Owners: @lsf37

Fix an NPE when generating dot files (jflex-de#769)
  jflex/src/main/java/jflex/core/NFA.java
Owners: @lsf37

Fix an NPE when generating dot files (jflex-de#769)
  jflex/src/main/java/jflex/core/NFA.java
Owners: @lsf37

Pseudo-Merge 5544d56 Fix an NPE when generating dot files (jflex-de#769)
  java/jflex/core/NFA.java
Owners: @lsf37

buildifier on javatests/jflex/testcase/cupsym/BUILD.bazel
  javatests/jflex/testcase/cupsym/BUILD.bazel
Owners: @lsf37

Initialize TestCase with Locale.US
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/TestsuiteUtils.java
Owners: @sarowe

Initialize TestCase with Locale.US
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/TestsuiteUtils.java
Owners: @sarowe

Add SurrogateUtilsTest
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/SurrogateUtils.java
  java/jflex/ucd_generator/util/BUILD.bazel
  javatests/jflex/ucd_generator/util/BUILD.bazel
  javatests/jflex/ucd_generator/util/SurrogateUtilsTest.java
Owners: @lsf37

Emit propertyValueAliases
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/AbstractUnicodeDataScanner.java
  java/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterGoldenTest.java
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
  javatests/jflex/ucd_generator/model/UnicodeDataTest.java
Owners: @lsf37

Add SurrogateUtilsTest
  java/jflex/ucd_generator/scanner/SurrogateUtils.java
  java/jflex/ucd_generator/util/BUILD.bazel
  javatests/jflex/ucd_generator/util/BUILD.bazel
  javatests/jflex/ucd_generator/util/SurrogateUtilsTest.java
Owners: @lsf37

Add SurrogateUtilsTest
  java/jflex/ucd_generator/scanner/SurrogateUtils.java
  java/jflex/ucd_generator/util/BUILD.bazel
  javatests/jflex/ucd_generator/util/BUILD.bazel
  javatests/jflex/ucd_generator/util/SurrogateUtilsTest.java
Owners: @lsf37

Add Github Dependabot config
  .github/dependabot.yml
Owners: @lsf37

Upgrade to babel_latex rule v1.0
  WORKSPACE
Owners: @regis

Build PDF with biblatex and bibliography
  docs/BUILD.bazel
  docs/manual_full.tex
Owners: @lsf37

End manual with bibliography
  docs/manual_full.tex
Owners: @lsf37

Add the manual.pdf to the Cirrus artefacts.
  .cirrus.yml
Owners: @lsf37

Merge jflex_bin_deploy.jar in the main task
  .cirrus.yml
Owners: @lsf37

Merge jflex_bin_deploy.jar in the main task
  .cirrus.yml
Owners: @lsf37

Fixed addit of enum properties
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/UnicodeData.java
Owners: @lsf37

Correctly generatess propertyValueAliases
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
Owners: @lsf37

Remove useless test
  javatests/jflex/ucd_generator/emitter/unicode_version/BUILD.bazel
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterGoldenTest.java
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
Owners: @lsf37

Group propertyValueAlises in pairs.
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/emitter/unicode_version/Unicode_x_y.java.vm
  java/jflex/ucd_generator/model/UnicodeData.java
  javatests/jflex/ucd_generator/Unicode_5_0.java.golden
Owners: @lsf37

Reformat code
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractUnicodeDataScanner.java
  java/jflex/ucd_generator/util/PropertyNameNormalizer.java
  javatests/jflex/ucd_generator/util/SurrogateUtilsTest.java
Owners: @lsf37

Add Github Dependabot config (#801)
  .github/dependabot.yml
Owners: @lsf37

Pseudo-Merge af39f30 Bump auto-value-annotations from 1.7 to 1.7.4
  java/META-INF/maven/de.jflex/jflex-parent/pom.xml
Owners: @lsf37

Pseudo-Merge b1d3bed Bump slf4j-simple from 1.7.28 to 1.7.30
  java/META-INF/maven/de.jflex/jflex-parent/pom.xml
Owners: @lsf37

Add Unicode versions 11.0 12.0 and 12.1 in //third_party
  third_party/unicode/BUILD.bazel
  third_party/unicode/unicode.bzl
Owners: @lsf37

Generate UCD for versions 11.0 12.0 and 12.1 with Bazel
  java/jflex/ucd_generator/BUILD.bazel
Owners: @lsf37

Minor code updates.
  java/jflex/ucd_generator/model/BUILD.bazel
  java/jflex/ucd_generator/model/CaselessMatches.java
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/ucd/CodepointRange.java
  java/jflex/ucd_generator/ucd/MutableCodepointRange.java
  java/jflex/ucd_generator/ucd/UcdVersions.java
Owners: @lsf37

Add integration test for UCD 6.3
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
  javatests/jflex/ucd_generator/Unicode_6_3.java.golden
  javatests/jflex/ucd_generator/model/UnicodeDataTest.java
Owners: @lsf37

Add ignored integration test on Unicode 6.3
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
  javatests/jflex/ucd_generator/Unicode_6_3.java.golden
Owners: @lsf37

java format
  java/jflex/ucd_generator/model/CaselessMatches.java
Owners: @lsf37

Bazel UCD: Generate properyValueAliases (#809)
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/emitter/unicode_version/Unicode_x_y.java.vm
  java/jflex/ucd_generator/model/BUILD.bazel
  java/jflex/ucd_generator/model/CaselessMatches.java
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/AbstractUnicodeDataScanner.java
  java/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/jflex/ucd_generator/ucd/CodepointRange.java
  java/jflex/ucd_generator/ucd/MutableCodepointRange.java
  java/jflex/ucd_generator/ucd/UcdVersions.java
  java/jflex/ucd_generator/util/PropertyNameNormalizer.java
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
  javatests/jflex/ucd_generator/Unicode_5_0.java.golden
  javatests/jflex/ucd_generator/Unicode_6_3.java.golden
  javatests/jflex/ucd_generator/emitter/unicode_version/BUILD.bazel
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterGoldenTest.java
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
  javatests/jflex/ucd_generator/model/UnicodeDataTest.java
Owners: @lsf37

UCD Generator: Use the normalized property value when building Script_Extensions
  java/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
  java/jflex/ucd_generator/scanner/ScriptExtensionsScanner.flex
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
Owners: @lsf37

Optimization: Copy the Script to Script_Extensions at the end of the scan.
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
Owners: @lsf37

UCD Generator: Normalize Script_Extensions values (#811)
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
  java/jflex/ucd_generator/scanner/ScriptExtensionsScanner.flex
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
Owners: @lsf37

Add bibliography to the Bazel-generated manual (#802)
  .cirrus.yml
  WORKSPACE
  docs/BUILD.bazel
  docs/manual_full.tex
Owners: @lsf37, @regis

Add "emoji-data.txt" in Bazel third_party resources
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/UnicodeVersion.java
  third_party/unicode/BUILD.bazel
  third_party/unicode/unicode.bzl
Owners: @sarowe, @lsf37
