Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd

Somewhat fix intervals()
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
Owners: @lsf37

Add more intermediate assertions
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
Owners: @lsf37

Add Ordering checkState
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
Owners: @lsf37

Keep intervals in order
  java/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/ucd/CodepointRange.java
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  java/jflex/ucd_generator/ucd/MutableCodepointRange.java
  java/jflex/ucd_generator/ucd/NamedCodepointRange.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

ScriptExtensions didn't exist in Unicode 5
  java/jflex/ucd_generator/UcdScanner.java
Owners: @lsf37

Integration test on Unicode 5.0.0
  java/jflex/ucd_generator/emitter/unicode_version/Unicode_x_y.java.vm
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/Unicode_5_0.java.golden
Owners: @lsf37

Rename //third_party/com/github/vbmacher/java-cup-runtime to //third_party/java_cup (#751)
  javatests/jflex/testcase/cupsym/BUILD.bazel
  jflex/BUILD.bazel
  jflex/examples/cup-java-minijava/BUILD.bazel
  jflex/src/main/java/jflex/core/BUILD.bazel
  third_party/com/github/vbmacher/java-cup-runtime/BUILD.bazel
  third_party/com/github/vbmacher/java-cup/BUILD.bazel
  third_party/java_cup/BUILD.bazel
Owners: @lsf37

Delete the individual scanner tests.
  javatests/jflex/ucd_generator/scanner/BUILD.bazel
  javatests/jflex/ucd_generator/scanner/DerivedAgeScannerTest.java
  javatests/jflex/ucd_generator/scanner/UnicodeDataScannerIntegrationTest.java
Owners: @lsf37

Improve error message when an error happens in UCD generator
  java/jflex/ucd_generator/BUILD.bazel
  java/jflex/ucd_generator/UcdGenerator.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/scanner/BUILD.bazel
  java/jflex/ucd_generator/scanner/UcdScannerException.java
Owners: @lsf37

Clone Script/sc property value aliases => Script_Extensions/scx
  java/jflex/ucd_generator/UcdGenerator.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
  java/jflex/ucd_generator/scanner/BUILD.bazel
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
Owners: @lsf37

Script extensions
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  java/jflex/ucd_generator/ucd/CodepointRange.java
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

Disable scanScripExtensions for now
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
Owners: @lsf37

Update Unicode_0_1.java.golden
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
Owners: @lsf37

Disable DEBUG blocks.
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
Owners: @lsf37

Create output dir before generation
  java/jflex/ucd_generator/UcdGenerator.java
Owners: @lsf37

Join intervals in RangeSet
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  javatests/jflex/ucd_generator/ucd/BUILD.bazel
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

Move ucd model in parent directory
  java/jflex/ucd_generator/BUILD.bazel
  java/jflex/ucd_generator/UcdGenerator.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/unicode_version/BUILD.bazel
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/model/BUILD.bazel
  java/jflex/ucd_generator/model/CaselessMatches.java
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractPropertyAliasesScanner.java
  java/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/AbstractUnicodeDataScanner.java
  java/jflex/ucd_generator/scanner/BUILD.bazel
  java/jflex/ucd_generator/scanner/BinaryPropertiesFileScanner.flex
  java/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/jflex/ucd_generator/scanner/EnumeratedPropertyFileScanner.flex
  java/jflex/ucd_generator/scanner/PropertyAliasesScanner.flex
  java/jflex/ucd_generator/scanner/PropertyValueAliasesScanner.flex
  java/jflex/ucd_generator/scanner/ScriptExtensionsScanner.flex
  java/jflex/ucd_generator/scanner/UnicodeDataScanner.flex
  javatests/jflex/ucd_generator/emitter/unicode_version/BUILD.bazel
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterGoldenTest.java
Owners: @lsf37

Fix range intersection
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  java/jflex/ucd_generator/ucd/MutableCodepointRange.java
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

Fix intersection
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  javatests/jflex/ucd_generator/model/BUILD
  javatests/jflex/ucd_generator/model/UnicodeDataTest.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37, @regisd

Fix intersection on last point.
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

Work around casefolding/script
  java/jflex/ucd_generator/model/UnicodeData.java
Owners: @lsf37

Update golden for Unicode 5.
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/Unicode_5_0.java.golden
Owners: @lsf37

code style
  java/jflex/ucd_generator/model/UnicodeData.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

Rename BUILD to BUILD.bazel
  javatests/jflex/ucd_generator/model/BUILD.bazel
Owners: @lsf37

Move ucd_genrator model one level up
  java/jflex/ucd_generator/BUILD.bazel
  java/jflex/ucd_generator/UcdGenerator.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/unicode_version/BUILD.bazel
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/model/BUILD.bazel
  java/jflex/ucd_generator/model/CaselessMatches.java
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractPropertyAliasesScanner.java
  java/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/AbstractUnicodeDataScanner.java
  java/jflex/ucd_generator/scanner/BUILD.bazel
  java/jflex/ucd_generator/scanner/BinaryPropertiesFileScanner.flex
  java/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/jflex/ucd_generator/scanner/EnumeratedPropertyFileScanner.flex
  java/jflex/ucd_generator/scanner/PropertyAliasesScanner.flex
  java/jflex/ucd_generator/scanner/PropertyValueAliasesScanner.flex
  java/jflex/ucd_generator/scanner/ScriptExtensionsScanner.flex
  java/jflex/ucd_generator/scanner/UnicodeDataScanner.flex
  javatests/jflex/ucd_generator/emitter/unicode_version/BUILD.bazel
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterGoldenTest.java
Owners: @lsf37

Move ucd_genrator model one level up (#754)
  java/jflex/ucd_generator/BUILD.bazel
  java/jflex/ucd_generator/UcdGenerator.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/unicode_version/BUILD.bazel
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/model/BUILD.bazel
  java/jflex/ucd_generator/model/CaselessMatches.java
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/PropertyValues.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractPropertyAliasesScanner.java
  java/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/AbstractUnicodeDataScanner.java
  java/jflex/ucd_generator/scanner/BUILD.bazel
  java/jflex/ucd_generator/scanner/BinaryPropertiesFileScanner.flex
  java/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/jflex/ucd_generator/scanner/EnumeratedPropertyFileScanner.flex
  java/jflex/ucd_generator/scanner/PropertyAliasesScanner.flex
  java/jflex/ucd_generator/scanner/PropertyValueAliasesScanner.flex
  java/jflex/ucd_generator/scanner/ScriptExtensionsScanner.flex
  java/jflex/ucd_generator/scanner/UnicodeDataScanner.flex
  javatests/jflex/ucd_generator/emitter/unicode_version/BUILD.bazel
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterGoldenTest.java
Owners: @lsf37

buildifier
  javatests/jflex/ucd_generator/model/BUILD.bazel
Owners: @lsf37

UCD generator (#753)
  java/jflex/ucd_generator/UcdGenerator.java
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/model/UnicodeData.java
  java/jflex/ucd_generator/scanner/PropertyValueAliasesScanner.flex
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  java/jflex/ucd_generator/ucd/MutableCodepointRange.java
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/Unicode_5_0.java.golden
  javatests/jflex/ucd_generator/model/BUILD.bazel
  javatests/jflex/ucd_generator/model/UnicodeDataTest.java
  javatests/jflex/ucd_generator/ucd/BUILD.bazel
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

add test case for %7bit option
  testsuite/testcases/src/test/cases/sevenbit/.gitignore
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-0.input
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-0.output
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-flex.output
  testsuite/testcases/src/test/cases/sevenbit/sevenbit.flex
  testsuite/testcases/src/test/cases/sevenbit/sevenbit.test
Owners: @sarowe

bazel test case for %7bit
  javatests/jflex/testcase/sevenbit/BUILD.bazel
  javatests/jflex/testcase/sevenbit/SevenBitTest.java
  javatests/jflex/testcase/sevenbit/sevenbit.flex
Owners: @lsf37

initialise char classes on all paths
  jflex/src/main/cup/LexParse.cup
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/jflex/LexScan.flex
Owners: @lsf37

add test case for %7bit option
  testsuite/testcases/src/test/cases/sevenbit/.gitignore
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-0.input
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-0.output
  testsuite/testcases/src/test/cases/sevenbit/sevenbit-flex.output
  testsuite/testcases/src/test/cases/sevenbit/sevenbit.flex
  testsuite/testcases/src/test/cases/sevenbit/sevenbit.test
Owners: @sarowe

initialise char classes on all paths
  jflex/src/main/cup/LexParse.cup
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/jflex/LexScan.flex
Owners: @lsf37

bazel test case for %7bit
  javatests/jflex/testcase/sevenbit/BUILD.bazel
  javatests/jflex/testcase/sevenbit/SevenBitTest.java
  javatests/jflex/testcase/sevenbit/sevenbit.flex
Owners: @lsf37

Pseudo-Merge bb37e0d initialise char classes on all paths
  java/jflex/core/AbstractLexScan.java
  java/jflex/core/LexParse.java
  java/jflex/core/LexScan.java
  java/jflex/core/sym.java
Owners: @lsf37

update changelog for 1.8.2
  jflex/changelog.md
Owners: @lsf37

update version in docs
  README.md
  benchmark/README.md
  jflex/examples/simple/README.md
Owners: @lsf37

sync tex copyright year
  docs/xmanual.tex
Owners: @lsf37

update changelog for 1.8.2
  jflex/changelog.md
Owners: @lsf37

sync tex copyright year
  docs/xmanual.tex
Owners: @lsf37
