Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

All setting multiple characters in setCurCharPropertyValue()
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodePointEscapes-f-1-flex.output
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodePointEscapes-f-2-flex.output
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodePointEscapes-f-3-flex.output
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodePointEscapes-f-4-flex.output
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodePointEscapes-f-5-flex.output
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodePointEscapes.flex
Owners: @lsf37

Replace all calls to setCurCharPropertyValue(yytext(),...) by the more generic setCurCharPropertyValue(yytext(), yylength(), ...) version.
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAge.flex.vm
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlock.flex.vm
  java/de/jflex/migration/unicodedatatest/testcaseless/UnicodeCaseless.flex.vm
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  javatests/de/jflex/testcase/unicode/unicode-blocks-aliases.flex
  javatests/de/jflex/testcase/unicode/unicode-blocks-failure.flex
  javatests/de/jflex/testcase/unicode/unicode-blocks-failure.output
  javatests/de/jflex/testcase/unicode/unicode-blocks-inverse.flex
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodePointEscapes.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_1_1.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_2_0.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_subtraction.flex
  testsuite/testcases/src/test/cases/unicode-age/UnicodeAge_2_0_age_unassigned.flex
Owners: @lsf37, @sarowe

Add javadoc on the tests.
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodepointEscapes_failure1.java
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodepointEscapes_failure2.java
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodepointEscapes_failure3.java
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodepointEscapes_failure4.java
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodepointEscapes_failure5.java
  testsuite/testcases/src/test/cases/unicode-codepoint-escapes/UnicodeCodePointEscapes-f-2.test
  testsuite/testcases/src/test/cases/unicode-codepoint-escapes/UnicodeCodePointEscapes-f-3.test
  testsuite/testcases/src/test/cases/unicode-codepoint-escapes/UnicodeCodePointEscapes-f-4.test
  testsuite/testcases/src/test/cases/unicode-codepoint-escapes/UnicodeCodePointEscapes-f-5.test
  testsuite/testcases/src/test/cases/unicode-codepoint-escapes/UnicodeCodePointEscapes.test
Owners: @lsf37, @sarowe

Genericfy AbstractEnumeratedPropertyDefinedScanner
  java/de/jflex/migration/unicodedatatest/testblock/AbstractBlocksGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaGenerator.java
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  java/de/jflex/testing/unicodedata/BUILD.bazel
  java/de/jflex/testing/unicodedata/BlockSpec.java
  java/de/jflex/testing/unicodedata/UnicodeDataScanners.java
Owners: @lsf37

Update testing scanners with Generics.
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlock.flex.vm
  java/de/jflex/migration/unicodedatatest/testcaseless/UnicodeCaseless.flex.vm
  java/de/jflex/migration/unicodedatatest/testcaseless/UnicodeCaselessTest.java.vm
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  javatests/de/jflex/testcase/unicode/BUILD.bazel
  javatests/de/jflex/testcase/unicode/TestingBlock.java
  javatests/de/jflex/testcase/unicode/UnicodeBlocksInverseBlockTest.java
  javatests/de/jflex/testcase/unicode/unicode-blocks-aliases.flex
  javatests/de/jflex/testcase/unicode/unicode-blocks-failure.flex
  javatests/de/jflex/testcase/unicode/unicode-blocks-inverse.flex
  javatests/de/jflex/testcase/unicode/unicode_codepoint_escapes/UnicodeCodePointEscapes.flex
Owners: @lsf37

Re-generate all tests.
  java/de/jflex/migration/unicodedatatest/testcaseless/UnicodeCaselessTest.java.vm
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeCaselessTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeCaselessTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeCaselessTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeCaselessTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeCaselessTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeCaselessTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeBlocksTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeCaselessTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeBlocksTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeCaselessTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeCaselessTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeCaselessTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeCaselessTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeCaselessTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeCaselessTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeCaselessTest_5_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeCaselessTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeCaselessTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeCaselessTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeCaselessTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeCaselessTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeCaselessTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeCaselessTest_9_0.java
Owners: @lsf37

java format
  java/de/jflex/migration/unicodedatatest/testblock/AbstractBlocksGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexGenerator.java
  javatests/de/jflex/testcase/unicode/TestingBlock.java
Owners: @lsf37

Test compatibility properties
  java/de/jflex/migration/unicodedatatest/testcompat/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testcompat/CompatPropertiesTestGenerator.java
Owners: @lsf37

Update jflex_bazel_rule to retagged 1.8.2
  WORKSPACE
Owners: @regis

Update jflex_bazel_rule to retagged 1.8.2
  WORKSPACE
Owners: @regis

Add template name in generic TemplateVars
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/velocity/TemplateVars.java
  java/de/jflex/velocity/Velocity.java
Owners: @lsf37

Improve error message when .vm resource is not found.
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
Owners: @lsf37

Improve error message when Velocity render fails.
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
Owners: @lsf37

Use $templateName in the .flex.vm templates as a // Generated comment.
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAge.flex.vm
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlock.flex.vm
  java/de/jflex/migration/unicodedatatest/testcaseless/UnicodeCaseless.flex.vm
  java/de/jflex/migration/unicodedatatest/testcaseless/build_defs.bzl
Owners: @lsf37

Generate the UnicodeCompat scanners
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testcompat/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompat.flex.vm
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testcompat/build_defs.bzl
Owners: @lsf37

Update BUILD files to generate the UnicodeCompat.flex specs
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_3/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_7_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_8_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
Owners: @lsf37

java format
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatTemplateVars.java
  java/de/jflex/velocity/TemplateVars.java
Owners: @lsf37

Rename generated file to UnicodeCompatibilityProperties_alnum_x_y [same name as today]
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompat.flex.vm
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatFlexTemplateVars.java
Owners: @lsf37

First stab on generator of UnicodeCompatibilityPropertiesTest
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatibilityPropertiesTest.java.vm
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatibilityPropertiesTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatibilityPropertiesTestTemplateVars.java
Owners: @lsf37

Bump junit from 4.12 ti 4.13.1 in //third_party
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Bump junit from 4.12 ti 4.13.1 in //third_party (#875)
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Bump quickcheck in //third_party/
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Bump auto_value_annotations from 1.7 to 1.7.4
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Bump auto_value_annotations from 1.7 to 1.7.4
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Add tasks to avoid OOMKilled
  .cirrus.yml
Owners: @lsf37

Limit RAM usage to 80% of host
  .ci.bazelrc
Owners: @lsf37

Remove the build tests step.
  .cirrus.yml
Owners: @lsf37

Limit usage of RAM by Bazel to 80% of container (#877)
  .ci.bazelrc
  .cirrus.yml
Owners: @lsf37

Bump truth in //third_party
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Bump Guava in //third_party/
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Bump in ivy
  jflex/examples/common/ivy.xml
Owners: @lsf37

Bump in Maven
  pom.xml
Owners: @lsf37

Bump guava from 26.0-jre to 30.1-jre (#878)
  jflex/examples/common/ivy.xml
  pom.xml
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Bump in Maven examples
  jflex/examples/cup-interpreter/pom.xml
  jflex/examples/cup-java-minijava/pom.xml
  jflex/examples/cup-java/pom.xml
  jflex/examples/cup-lcalc/pom.xml
  jflex/examples/simple/pom.xml
  jflex/examples/standalone/pom.xml
Owners: @lsf37

Remove explicit versions in pom.xml and rely on dependencyManagement from parent
  benchmark/pom.xml
  jflex-maven-plugin/pom.xml
  jflex/examples/zero-reader/pom.xml
Owners: @lsf37, @regisd

Add org.openjdk.jmh version in dependencyManagement
  benchmark/pom.xml
  pom.xml
Owners: @lsf37

Revert change about jmh
  benchmark/pom.xml
  pom.xml
Owners: @lsf37

Replace assert(list).containsAllIn(ImmutableList<String>) by containsExactlyElementsIn()
  java/de/jflex/testing/unicodedata/UnicodeDataScanners.java
  javatests/de/jflex/ucd/SurrogateUtilsTest.java
  javatests/de/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
Owners: @lsf37

Replace containsAllOf() by containsExactly()
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeTest.java
  javatests/de/jflex/testcase/unicode/UnicodeBlocksAliasesTest.java
  javatests/de/jflex/testcase/unicode/UnicodeBlocksInverseBlockTest.java
Owners: @lsf37

For blocks, only test containsAllOf
  javatests/de/jflex/testcase/unicode/UnicodeBlocksAliasesTest.java
Owners: @lsf37

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd
