Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

update version in docs
  README.md
  benchmark/README.md
  jflex/examples/simple/README.md
Owners: @lsf37

fix typo
  RELEASE.md
Owners: @lsf37

fix typo
  RELEASE.md
Owners: @lsf37

Emit @Generated rather than @SuppressWarnings(FallThrough)
  jflex/src/main/java/jflex/generator/Emitter.java
Owners: @lsf37

Add jsr250 in third_party
  third_party/deps.bzl
  third_party/java/BUILD.bazel
  third_party/maven_install.json
Owners: @lsf37

Add dep on jsr250 (javax.annotation) to javatests
  javatests/jflex/testcase/action_pipe/BUILD.bazel
  javatests/jflex/testcase/bol/BUILD.bazel
  javatests/jflex/testcase/buffer/BUILD.bazel
  javatests/jflex/testcase/caseless_jflex/BUILD.bazel
  javatests/jflex/testcase/caseless_jlex/BUILD.bazel
  javatests/jflex/testcase/ccl_16/BUILD.bazel
  javatests/jflex/testcase/ccl_bug/BUILD.bazel
  javatests/jflex/testcase/ccl_esc/BUILD.bazel
  javatests/jflex/testcase/ccl_macros/BUILD.bazel
  javatests/jflex/testcase/ccl_pre/BUILD.bazel
  javatests/jflex/testcase/charclass/BUILD.bazel
  javatests/jflex/testcase/count/BUILD.bazel
  javatests/jflex/testcase/ctorarg/BUILD.bazel
  javatests/jflex/testcase/cup2private/BUILD.bazel
  javatests/jflex/testcase/cupsym/BUILD.bazel
  javatests/jflex/testcase/dot_newline/BUILD.bazel
  javatests/jflex/testcase/empty_match/BUILD.bazel
  javatests/jflex/testcase/eof/BUILD.bazel
  javatests/jflex/testcase/eof_min/BUILD.bazel
  javatests/jflex/testcase/eofclose/BUILD.bazel
  javatests/jflex/testcase/eol_comment/BUILD.bazel
  javatests/jflex/testcase/eol_look/BUILD.bazel
  javatests/jflex/testcase/fixed_look/BUILD.bazel
  javatests/jflex/testcase/generics/BUILD.bazel
  javatests/jflex/testcase/genlook/BUILD.bazel
  javatests/jflex/testcase/genlook2/BUILD.bazel
  javatests/jflex/testcase/include/BUILD.bazel
  javatests/jflex/testcase/include2/BUILD.bazel
  javatests/jflex/testcase/include_in_rules/BUILD.bazel
  javatests/jflex/testcase/initthrow_eol/BUILD.bazel
  javatests/jflex/testcase/large_input/BUILD.bazel
  javatests/jflex/testcase/look/BUILD.bazel
  javatests/jflex/testcase/look_macro/BUILD.bazel
  javatests/jflex/testcase/macro_exp/BUILD.bazel
  javatests/jflex/testcase/sevenbit/BUILD.bazel
  third_party/java/BUILD.bazel
Owners: @lsf37

Add mockito in third_party
  third_party/deps.bzl
  third_party/maven_install.json
  third_party/org/mockito/BUILD.bazel
Owners: @lsf37

Add classpath option to JavacUtils
  java/jflex/util/javac/JavacUtils.java
  javatests/jflex/util/javac/BUILD.bazel
  javatests/jflex/util/javac/JavacUtilsTest.java
Owners: @lsf37

Add jsr250 to the @JflexTestRunner
  java/jflex/testing/testsuite/BUILD.bazel
  java/jflex/testing/testsuite/JFlexTestRunner.java
  java/jflex/util/javac/JavacUtils.java
  javatests/jflex/util/javac/BUILD.bazel
  javatests/jflex/util/javac/JavacUtilsTest.java
Owners: @lsf37

Also fix apiprivate test case
  java/jflex/testing/testsuite/JFlexTestRunner.java
  javatests/jflex/testcase/apipirivate/ApiPrivateTest.java
  javatests/jflex/testcase/apipirivate/BUILD.bazel
Owners: @lsf37

Buildifier
  javatests/jflex/testcase/sevenbit/BUILD.bazel
  javatests/jflex/util/javac/BUILD.bazel
  third_party/org/mockito/BUILD.bazel
Owners: @lsf37

Also git ignore /out
  .gitignore
Owners: @lsf37

Buildifier
  docs/docs.bzl
  java/jflex/testing/testsuite/BUILD.bazel
  javatests/jflex/testcase/action_pipe/BUILD.bazel
  javatests/jflex/testcase/apipirivate/BUILD.bazel
Owners: @lsf37

Add pom dependency to jsr250 in benchmark
  benchmark/pom.xml
  pom.xml
Owners: @lsf37

Add javax.annotation to the jflex-testsuite-maven-plugin
  testsuite/jflex-testsuite-maven-plugin/pom.xml
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/ExecUtils.java
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/JFlexTestsuiteMojo.java
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/TestCase.java
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/TestsuiteUtils.java
Owners: @sarowe

Initialize TestCase with Locale.US
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/TestsuiteUtils.java
Owners: @sarowe

Split the GUI in a different java_binary
  README.md
  jflex/BUILD.bazel
  jflex/src/main/java/jflex/BUILD.bazel
  jflex/src/main/java/jflex/Gui.java
  jflex/src/main/java/jflex/Main.java
Owners: @lsf37

Also move anttask in the GUI binary.
  jflex/src/main/java/jflex/BUILD.bazel
Owners: @lsf37

Change names of Cli,Gui to Cli,Main
  README.md
  jflex/BUILD.bazel
  jflex/src/main/java/jflex/BUILD.bazel
  jflex/src/main/java/jflex/Cli.java
  jflex/src/main/java/jflex/Gui.java
  jflex/src/main/java/jflex/Main.java
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/ExecUtils.java
Owners: @lsf37, @sarowe

format code
  jflex/src/main/java/jflex/Cli.java
  jflex/src/main/java/jflex/Main.java
Owners: @lsf37

Remove invocation of ant-build.sh as it doesn't exist anymore.
  scripts/run-tests.sh
Owners: @lsf37

Add javax.annotation to Maven based examples
  jflex/examples/cup-interpreter/pom.xml
  jflex/examples/cup-java/pom.xml
  jflex/examples/simple/pom.xml
  jflex/examples/standalone/pom.xml
Owners: @lsf37

Add javax.annotation to ant-based example
  jflex/examples/common/ivy.xml
Owners: @lsf37

Also download javax.annotation from make
  jflex/examples/common/Makefile.inc
Owners: @lsf37

java format
  javatests/jflex/testcase/apipirivate/ApiPrivateTest.java
  jflex/src/main/java/jflex/generator/Emitter.java
Owners: @lsf37

bump guava version
  pom.xml
Owners: @lsf37

jflex-maven-plugin: updates for guava 26.0-jre
  jflex-maven-plugin/src/main/java/jflex/maven/plugin/jflex/JFlexMojo.java
Owners: @regisd

bump guava version
  pom.xml
Owners: @lsf37

jflex-maven-plugin: updates for guava 26.0-jre
  jflex-maven-plugin/src/main/java/jflex/maven/plugin/jflex/JFlexMojo.java
Owners: @regisd

Pseudo-Merge b5ed1ca jflex-maven-plugin: updates for guava 26.0-jre
  java/META-INF/maven/de.jflex/jflex-parent/pom.xml
Owners: @lsf37

github workflows: basic build, unit tests, site
  .github/workflows/build.yml
  scripts/test-examples.sh
Owners: @lsf37

docs: remove pandoc smart extension
  docs/Makefile
Owners: @lsf37

github workflows: basic build, unit tests, site
  .github/workflows/build.yml
  scripts/test-examples.sh
Owners: @lsf37

docs: remove pandoc smart extension
  docs/Makefile
Owners: @lsf37

replace travis build badge with github badge
  README.md
Owners: @lsf37

replace travis build badge with github badge (#772)
  README.md
Owners: @lsf37

github workflow: do not send codacity metrics
  .github/workflows/build.yml
Owners: @lsf37

github workflows: matrix build
  .github/workflows/build.yml
Owners: @lsf37

github workflow: let tests continue for other matrix entries
  .github/workflows/build.yml
Owners: @lsf37

examples: bump source requirement to 1.8
  jflex/examples/cup-interpreter/pom.xml
  jflex/examples/cup-java-minijava/pom.xml
  jflex/examples/cup-java/pom.xml
  jflex/examples/cup-lcalc/pom.xml
  jflex/examples/simple/pom.xml
  jflex/examples/standalone/pom.xml
  jflex/examples/zero-reader/pom.xml
Owners: @lsf37

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd
