Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

anttask: provide clone() implementation (#993)
  jflex/src/main/java/jflex/anttask/JFlexTask.java
Owners: @lsf37

maven-testsuite: remove potential Null deref (#994)
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/DiffStream.java
Owners: @sarowe

test case for #769/#945
  testsuite/testcases/.gitignore
  testsuite/testcases/src/test/cases/dot/.gitignore
  testsuite/testcases/src/test/cases/dot/dot-flex.output
  testsuite/testcases/src/test/cases/dot/dot.flex
  testsuite/testcases/src/test/cases/dot/dot.test
Owners: @sarowe

test case for #769/#945 (#995)
  testsuite/testcases/.gitignore
  testsuite/testcases/src/test/cases/dot/.gitignore
  testsuite/testcases/src/test/cases/dot/dot-flex.output
  testsuite/testcases/src/test/cases/dot/dot.flex
  testsuite/testcases/src/test/cases/dot/dot.test
Owners: @sarowe

jflex core: fix comment in Action.java
  jflex/src/main/java/jflex/core/Action.java
Owners: @lsf37

add tests for issues #888 and #939
  javatests/de/jflex/testcase/ccl_macros/BUILD.bazel
  javatests/de/jflex/testcase/ccl_macros/CclMacrosNegTest.java
  javatests/de/jflex/testcase/ccl_macros/ccl_macros_neg-flex.output
  javatests/de/jflex/testcase/ccl_macros/ccl_macros_neg.flex
Owners: @lsf37

jflex: error reporting in prim class expansion
  jflex/src/main/cup/LexParse.cup
  jflex/src/main/java/jflex/core/RegExp.java
  jflex/src/main/java/jflex/core/RegExps.java
  jflex/src/main/java/jflex/l10n/ErrorMessages.java
  jflex/src/main/resources/jflex/Messages.properties
  jflex/src/test/java/jflex/core/RegExpTest.java
Owners: @lsf37

jflex core: use typesafe enum for action kinds
  jflex/src/main/java/jflex/core/Action.java
  jflex/src/main/java/jflex/core/NFA.java
  jflex/src/main/java/jflex/core/RegExps.java
  jflex/src/main/java/jflex/generator/Emitter.java
Owners: @lsf37

jflex NFA: guard against null deref
  jflex/src/main/java/jflex/core/NFA.java
Owners: @lsf37

jflex CharClassesQuickcheck: medium bazel timeout
  jflex/src/test/java/jflex/core/unicode/BUILD.bazel
Owners: @lsf37

test migration: fix errorprone [FloggerLogString]
  java/de/jflex/migration/testcase/Migrator.java
Owners: @lsf37

github: add bazel action
  .bazelversion
  .github/workflows/build.yml
Owners: @lsf37

github: add caching to bazel action
  .github/workflows/build.yml
Owners: @lsf37

remove cirrus setup
  .cirrus.yml
  scripts/send-code-coverage.sh
Owners: @lsf37

Revert "Bump slf4j-simple from 1.7.36 to 2.0.6 (#998)"
  jflex/pom.xml
Owners: @lsf37

dependencies: add lifecycle defs for benchmark+testsuite
  benchmark/pom.xml
  testsuite/jflex-testsuite-maven-plugin/pom.xml
Owners: @lsf37, @sarowe

dependencies: sync bazel and maven deps
  WORKSPACE
  jflex/pom.xml
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @regis, @lsf37

add test case for #952
  javatests/de/jflex/testcase/large_table/BUILD.bazel
  javatests/de/jflex/testcase/large_table/LargeTest.java
  javatests/de/jflex/testcase/large_table/large.flex
Owners: @lsf37

jflex PackEmitter: more exception cause info
  jflex/src/main/java/jflex/generator/PackEmitter.java
Owners: @lsf37

jflex HiLowEmitter: make static analyzers happier
  jflex/src/main/java/jflex/generator/HiLowEmitter.java
Owners: @lsf37

README: spelling, markdown lint
  README.md
Owners: @lsf37

jflex generator: allow up to 2^32 states
  jflex/src/main/java/jflex/generator/CountEmitter.java
  jflex/src/main/java/jflex/generator/Emitter.java
  jflex/src/main/java/jflex/generator/HiCountEmitter.java
Owners: @lsf37

README: spelling, markdown lint (#1006)
  README.md
Owners: @lsf37

README: use markdown image links
  README.md
Owners: @lsf37

README: use markdown image links (#1007)
  README.md
Owners: @lsf37

spdx: add license texts
  LICENSES/Apache-2.0.txt
  LICENSES/BSD-2-Clause.txt
  LICENSES/BSD-3-Clause.txt
  LICENSES/CC-BY-SA-4.0.txt
  LICENSES/CC0-1.0.txt
  LICENSES/GPL-2.0-only.txt
  LICENSES/LGPL-2.0-only.txt
Owners: @lsf37

spdx: clean up license headers in jflex/src
  jflex/examples/zero-reader/src/main/java/FunkyReader.java
  jflex/examples/zero-reader/src/main/java/ZeroReader.java
  jflex/src/main/config/pmd/ruleset.xml
  jflex/src/main/java/jflex/anttask/JFlexTask.java
  jflex/src/main/java/jflex/base/Build.java
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/java/jflex/core/OptionUtils.java
  jflex/src/main/java/jflex/core/unicode/ILexScan.java
  jflex/src/main/java/jflex/core/unicode/IntCharSetComparator.java
  jflex/src/main/java/jflex/core/unicode/README.md
  jflex/src/main/java/jflex/dfa/DeprecatedDfa.java
  jflex/src/main/java/jflex/dfa/DfaFactory.java
  jflex/src/main/java/jflex/io/FileUtils.java
  jflex/src/main/java/jflex/state/StateSet.java
  jflex/src/main/jflex/skeleton.nested.license
  jflex/src/main/resources/jflex/Messages.properties
  jflex/src/main/resources/jflex/skeleton.default.license
  jflex/src/test/java/jflex/anttask/JFlexTaskTest.java
  jflex/src/test/java/jflex/core/unicode/IntCharGen.java
  jflex/src/test/java/jflex/core/unicode/IntCharSetTest.java
  jflex/src/test/java/jflex/dfa/DfaTest.java
  jflex/src/test/java/jflex/io/FileUtilsTest.java
  jflex/src/test/java/jflex/state/OffsetGen.java
  jflex/src/test/java/jflex/testing/TestFileUtils.java
  jflex/src/test/java/jflex/unicode/UnicodePropertiesTest.java
  jflex/src/test/resources/jflex/simple.flex
Owners: @lsf37

spdx: figure out findbugs license
  third_party/javax/BUILD.bazel
Owners: @lsf37

spdx: add dep5 list for files without headers
  .reuse/dep5
  LICENSES/Zlib.txt
  third_party/org/checkerframework/BUILD.bazel
Owners: @lsf37

spdx: tag bazel defs in third-party
  third_party/deps.bzl
  third_party/org/checkerframework/build_defs.bzl
  third_party/unicode/unicode.bzl
Owners: @lsf37

remove LGTM config (replaced by CodeQL)
  .lgtm.yml
Owners: @lsf37

spdx: tag CI/release scripts
  scripts/check_deps.bzl
  scripts/check_file_empty.sh
  scripts/clean.sh
  scripts/compile-aggregated-java-sources.sh
  scripts/degraph/dep-graph.cfg
  scripts/deploy-aggregated-sources.sh
  scripts/deploy.sh
  scripts/logger.sh
  scripts/mk-release.sh
  scripts/mvn-aggregate-srcs.sh
  scripts/mvn-deploy.sh
  scripts/mvn-install-fastbuild.sh
  scripts/mvn-site.sh
  scripts/post-release.pl
  scripts/prepare-deploy-source-code.sh
  scripts/prepare-release.pl
  scripts/run-tests.sh
  scripts/test-bzl-format.sh
  scripts/test-examples.sh
  scripts/test-java-format.sh
  scripts/test-regression.sh
  scripts/test-unit.sh
Owners: @lsf37

spdx: COPYRIGHT file itself is public domain
  jflex-maven-plugin/COPYRIGHT
Owners: @regisd

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd
