Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd

Add assertion in UnicodeEmojiTest
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatibilityPropertiesTest.java.vm
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiTest.java.vm
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  java/de/jflex/ucd/NamedCodepointRange.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeCompatibilityPropertiesTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmojiTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeCompatibilityPropertiesTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmojiTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeCompatibilityPropertiesTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmojiTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeCompatibilityPropertiesTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmojiTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_1_1/UnicodeCompatibilityPropertiesTest_1_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeCompatibilityPropertiesTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeCompatibilityPropertiesTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeCompatibilityPropertiesTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeCompatibilityPropertiesTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeCompatibilityPropertiesTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeCompatibilityPropertiesTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeCompatibilityPropertiesTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeCompatibilityPropertiesTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeCompatibilityPropertiesTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeCompatibilityPropertiesTest_5_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeCompatibilityPropertiesTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeCompatibilityPropertiesTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeCompatibilityPropertiesTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeCompatibilityPropertiesTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeCompatibilityPropertiesTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeCompatibilityPropertiesTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmojiTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeCompatibilityPropertiesTest_9_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmojiTest_9_0.java
Owners: @lsf37

Allow java comment after yylexthrow (#794)
  javatests/jflex/testcase/yylexthrow_comment/BUILD.bazel
  javatests/jflex/testcase/yylexthrow_comment/README.md
  javatests/jflex/testcase/yylexthrow_comment/yylexthrow.flex
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/java/jflex/generator/Emitter.java
  jflex/src/main/jflex/LexScan.flex
Owners: @lsf37

Move UnicodeCompatibilityPropertiesGolden.vm -> base/UnicodeRangesGolden.vm so that it can be reused
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/base/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/base/UnicodeRangesGolden.vm
  java/de/jflex/migration/unicodedatatest/base/UnicodeRangesGoldenTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testcompat/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatibilityPropertiesGoldenGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiGoldenGenerator.java
Owners: @lsf37

Bump ant in bazel build
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Bump truth for bazel build
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Add EmojiTestGeneratorTest
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatibilityPropertiesGoldenGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGenerator.java
  java/de/jflex/testing/unicodedata/SimpleIntervalsParser.java
  java/de/jflex/ucd_generator/ucd/BUILD.bazel
  java/de/jflex/ucd_generator/ucd/UnicodeData.java
  javatests/de/jflex/migration/unicodedatatest/testemoji/BUILD.bazel
  javatests/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGeneratorTest.java
Owners: @lsf37

Generate golden UnicodeEmoji_x_y.output
  java/de/jflex/migration/unicodedatatest/testemoji/build_defs.bzl
Owners: @lsf37

java format
  java/de/jflex/migration/unicodedatatest/base/UnicodeRangesGoldenTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiGoldenGenerator.java
Owners: @lsf37

Rename golden to UnicodeEmoji_x_y.output and regenerate all.
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiTest.java.vm
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmojiTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmoji_10_0.output
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmojiTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmoji_11_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmojiTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmoji_12_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmojiTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmoji_12_1.output
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmojiTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmoji_8_0.output
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmojiTest_9_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmoji_9_0.output
Owners: @lsf37

Update header
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiTestGenerator.java
Owners: @lsf37

java format
  javatests/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGeneratorTest.java
Owners: @lsf37

Generate from parameter proertyName
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiGoldenGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiTest.java.vm
  java/de/jflex/migration/unicodedatatest/testemoji/build_defs.bzl
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmojiTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmoji_Emoji_10_0.output
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmojiTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmoji_Emoji_11_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmojiTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmoji_Emoji_12_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmojiTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmoji_Emoji_12_1.output
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmojiTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmoji_Emoji_8_0.output
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmojiTest_9_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmoji_Emoji_9_0.output
Owners: @lsf37

Rename generated scanner UnicodeEmoji_Emoji_x_y
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiTest.java.vm
  java/de/jflex/migration/unicodedatatest/testemoji/build_defs.bzl
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmojiTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmojiTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmojiTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmojiTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmojiTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmojiTest_9_0.java
Owners: @lsf37

Remove old tests.
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_10_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_10_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_10_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_11_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_11_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_11_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_12_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_12_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_12_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_12_1-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_12_1.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_12_1.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_8_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_8_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_8_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_9_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_9_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_9_0.test
Owners: @sarowe

Add test for Emoji_Component
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/UnicodeEmojiTest.java.vm
  java/de/jflex/migration/unicodedatatest/testemoji/build_defs.bzl
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmojiTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmoji_Emoji_Component_10_0.output
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmojiTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmoji_Emoji_Component_11_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmojiTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmoji_Emoji_Component_12_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmojiTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmoji_Emoji_Component_12_1.output
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmojiTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmoji_Emoji_Component_8_0.output
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmojiTest_9_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmoji_Emoji_Component_9_0.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_10_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_10_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_10_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_11_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_11_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_11_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_12_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_12_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_12_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_12_1-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_12_1.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Emoji_Component_12_1.test
Owners: @lsf37, @sarowe

Make UnicodeCodepointEscapes_failure small test.
  javatests/de/jflex/testcase/unicode_codepoint_escapes/BUILD.bazel
Owners: @lsf37

Emoji_Component only exists since Unicode 10
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/BuildFileGenerator.java
  java/de/jflex/migration/unicodedatatest/BuildFileTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/build_defs.bzl
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeEmojiTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmojiTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmojiTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmojiTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmojiTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeEmoji_Emoji_Component_8_0.output
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeEmojiTest_9_0.java
Owners: @lsf37

Delete old directories
  testsuite/testcases/src/test/cases/unicode-blocks/.gitignore
  testsuite/testcases/src/test/cases/unicode-caseless/.gitignore
  testsuite/testcases/src/test/cases/unicode-codepoint-escapes/.gitignore
  testsuite/testcases/src/test/cases/unicode-digit/.gitignore
Owners: @sarowe

Migrate Extended_Pictographic
  java/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/build_defs.bzl
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmojiTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmoji_Extended_Pictographic_11_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmojiTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmoji_Extended_Pictographic_12_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmojiTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmoji_Extended_Pictographic_12_1.output
  testsuite/testcases/src/test/cases/unicode-emoji/.gitignore
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_11_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_11_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_11_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_1-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_1.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_1.test
Owners: @lsf37, @sarowe

java-format
  java/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGenerator.java
Owners: @lsf37

Migrate emoji regression test Extended_Pictographic to Bazel (#896)
  java/de/jflex/migration/unicodedatatest/testemoji/EmojiTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testemoji/build_defs.bzl
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmojiTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeEmoji_Extended_Pictographic_11_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmojiTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeEmoji_Extended_Pictographic_12_0.output
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmojiTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeEmoji_Extended_Pictographic_12_1.output
  testsuite/testcases/src/test/cases/unicode-blocks/.gitignore
  testsuite/testcases/src/test/cases/unicode-caseless/.gitignore
  testsuite/testcases/src/test/cases/unicode-codepoint-escapes/.gitignore
  testsuite/testcases/src/test/cases/unicode-digit/.gitignore
  testsuite/testcases/src/test/cases/unicode-emoji/.gitignore
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_11_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_11_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_11_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_0-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_0.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_0.test
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_1-flex.output
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_1.flex
  testsuite/testcases/src/test/cases/unicode-emoji/EmojiData_Extended_Pictographic_12_1.test
Owners: @lsf37, @sarowe

Set empty templateName to MigrationTemplateVars
  java/de/jflex/migration/testcase/Migrator.java
Owners: @lsf37

Add load statement for jflex in BUILD template
  java/de/jflex/migration/testcase/BUILD.vm
Owners: @lsf37

Migrate unicode-version-f
  javatests/de/jflex/testcase/unicode_version_f/BUILD.bazel
  javatests/de/jflex/testcase/unicode_version_f/UnicodeInvalidVersionTest.java
  javatests/de/jflex/testcase/unicode_version_f/unicode-version-f.flex
  javatests/de/jflex/testcase/unicode_version_f/unicode-version-f.output
  testsuite/testcases/src/test/cases/unicode-version-f/unicode-version-f-flex.output
  testsuite/testcases/src/test/cases/unicode-version-f/unicode-version-f.test
Owners: @lsf37, @sarowe

Fix golden: there is a leading space on the line.
  javatests/de/jflex/testcase/unicode_version_f/unicode-version-f.output
Owners: @lsf37

Updarte BUILD.vm
  java/de/jflex/migration/testcase/BUILD.vm
Owners: @lsf37

Migrate Test unicode invalid version (#897)
  java/de/jflex/migration/testcase/BUILD.vm
  java/de/jflex/migration/testcase/Migrator.java
  javatests/de/jflex/testcase/unicode_version_f/BUILD.bazel
  javatests/de/jflex/testcase/unicode_version_f/UnicodeInvalidVersionTest.java
  javatests/de/jflex/testcase/unicode_version_f/unicode-version-f.flex
  javatests/de/jflex/testcase/unicode_version_f/unicode-version-f.output
  testsuite/testcases/src/test/cases/unicode-version-f/unicode-version-f-flex.output
  testsuite/testcases/src/test/cases/unicode-version-f/unicode-version-f.test
Owners: @lsf37, @sarowe

Update mockito in Bazel build as well
  third_party/deps.bzl
  third_party/maven_install.json
Owners: @lsf37

Create DerivedCorePropertiesTestGenerator
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/DerivedCorePropertiesTestGenerator.java
Owners: @lsf37

Generate flex for Alphabetic prop
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/DerivedCorePropertiesTestGenerator.java
Owners: @lsf37

Document location of unicode data in external
  third_party/unicode/README.md
Owners: @lsf37

Correctly extract name in SimpleIntervalsParser
  java/de/jflex/testing/unicodedata/SimpleIntervalsParser.java
  javatests/de/jflex/testing/unicodedata/BUILD.bazel
  javatests/de/jflex/testing/unicodedata/SimpleIntervalsParserTest.java
Owners: @lsf37

Generate golden derived age core properties
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/DerivedCorePropertiesTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/UnicodeDerivedPropertyGoldenGenerator.java
Owners: @lsf37

Generate the Alphabetic derived property from filegroup rule.
  java/de/jflex/migration/unicodedatatest/generate.sh
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/build_defs.bzl
Owners: @lsf37

Extract method TestingUnicodeProperties.checkProperty
  java/de/jflex/migration/unicodedatatest/testcompat/UnicodeCompatibilityPropertiesTest.java.vm
  java/de/jflex/testing/unicodedata/BUILD.bazel
  java/de/jflex/testing/unicodedata/TestingUnicodeProperties.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeCompatibilityPropertiesTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeCompatibilityPropertiesTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeCompatibilityPropertiesTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeCompatibilityPropertiesTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_1_1/UnicodeCompatibilityPropertiesTest_1_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeCompatibilityPropertiesTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeCompatibilityPropertiesTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeCompatibilityPropertiesTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeCompatibilityPropertiesTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeCompatibilityPropertiesTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeCompatibilityPropertiesTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeCompatibilityPropertiesTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeCompatibilityPropertiesTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeCompatibilityPropertiesTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeCompatibilityPropertiesTest_5_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeCompatibilityPropertiesTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeCompatibilityPropertiesTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeCompatibilityPropertiesTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeCompatibilityPropertiesTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeCompatibilityPropertiesTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeCompatibilityPropertiesTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeCompatibilityPropertiesTest_9_0.java
Owners: @lsf37

Generate UnicodeDerivedCoreProperties_x_y tests
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/DerivedCorePropertiesTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/UnicodeDerivedCorePropertiesTest.java.vm
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/UnicodeDerivedCorePropertiesTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/build_defs.bzl
Owners: @lsf37

Add UnicodeDerivedCorePropertiesTest_x_y test targets
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/UnicodeDerivedCoreProperties.java
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/UnicodeDerivedCorePropertiesTest.java.vm
  java/de/jflex/version/Version.java
Owners: @lsf37

Merge contiguous intervals in golden file.
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/DerivedCorePropertiesTestGenerator.java
  java/de/jflex/ucd/CodePointRanges.java
  java/de/jflex/ucd/NamedCodePointRanges.java
Owners: @lsf37

Add SimpleDerivedCorePropertiesParser
  java/de/jflex/migration/unicodedatatest/testderivedcoreprop/DerivedCorePropertiesTestGenerator.java
  java/de/jflex/testing/unicodedata/AbstractSimpleParser.java
  java/de/jflex/testing/unicodedata/BUILD.bazel
  java/de/jflex/testing/unicodedata/SimpleDerivedCorePropertiesParser.java
  javatests/de/jflex/testing/unicodedata/BUILD.bazel
  javatests/de/jflex/testing/unicodedata/SimpleDerivedCorePropertiesParserTest.java
Owners: @lsf37

Disable Caseless test.
  java/de/jflex/migration/unicodedatatest/testcaseless/UnicodeCaselessTest.java.vm
  java/de/jflex/testing/unicodedata/AbstractSimpleParser.java
  java/de/jflex/testing/unicodedata/BUILD.bazel
  java/de/jflex/ucd/CodePointRanges.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeCaselessTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeCaselessTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeCaselessTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeCaselessTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_1_1/UnicodeCaselessTest_1_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeCaselessTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeCaselessTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeCaselessTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeCaselessTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeCaselessTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeCaselessTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeCaselessTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeCaselessTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeCaselessTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeCaselessTest_5_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeCaselessTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeCaselessTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeCaselessTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeCaselessTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeCaselessTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeCaselessTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeCaselessTest_9_0.java
  javatests/de/jflex/testing/unicodedata/SimpleDerivedCorePropertiesParserTest.java
  javatests/de/jflex/testing/unicodedata/SimpleIntervalsParserTest.java
Owners: @lsf37
