Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

Enable UnusedException as ERROR
  .bazelrc
  java/jflex/ucd_generator/UcdGenerator.java
  jflex/src/main/java/jflex/Main.java
  jflex/src/main/java/jflex/anttask/JFlexTask.java
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/java/jflex/core/NFA.java
  jflex/src/main/java/jflex/core/unicode/UnicodeProperties.java
  jflex/src/main/java/jflex/dfa/DFA.java
  jflex/src/main/java/jflex/skeleton/Skeleton.java
Owners: @lsf37

Keep Var OFF
  .bazelrc
Owners: @lsf37

Link to lack of patches https://github.com/bazelbuild/bazel/issues/5729
  .bazelrc
Owners: @lsf37

Fix MethodCanBeStatic
  jflex/src/test/java/jflex/skeleton/SkeletonTest.java
Owners: @lsf37

Fix WildcardImport
  .bazelrc
  jflex/src/main/java/jflex/gui/GridPanel.java
  jflex/src/main/java/jflex/gui/MainFrame.java
  jflex/src/main/java/jflex/gui/OptionsDialog.java
Owners: @lsf37

code style
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/java/jflex/core/SemCheck.java
  testsuite/testcases/src/test/cases/apiprivate/Test.java
Owners: @lsf37, @sarowe

Pseudo-Merge 48787cf Minor: Address Error prone warnings (#749)
  java/UnicodeProperties.java.skeleton
  java/jflex/Main.java
  java/jflex/anttask/JFlexTask.java
  java/jflex/core/AbstractLexScan.java
  java/jflex/core/Action.java
  java/jflex/core/NFA.java
  java/jflex/core/RegExp.java
  java/jflex/core/SemCheck.java
  java/jflex/core/unicode/IntCharSet.java
  java/jflex/core/unicode/UnicodeProperties.java
  java/jflex/dfa/DFA.java
  java/jflex/generator/Emitter.java
  java/jflex/gui/GridPanel.java
  java/jflex/gui/MainFrame.java
  java/jflex/gui/OptionsDialog.java
  java/jflex/logging/StdOutWriter.java
  java/jflex/skeleton/Skeleton.java
  java/jflex/state/StateSet.java
Owners: @lsf37

revert change to test input
  testsuite/testcases/src/test/cases/java/java-1.input
Owners: @sarowe

revert assertion change
  jflex/src/main/java/jflex/core/unicode/IntCharSet.java
Owners: @lsf37

document purpose of this test
  testsuite/testcases/src/test/cases/java/README.md
  testsuite/testcases/src/test/cases/java/java.test
Owners: @sarowe

update golden test output for input change
  jflex/examples/cup-java/src/test/data/lexer-output.good
Owners: @lsf37

document purpose of this test
  testsuite/testcases/src/test/cases/java/README.md
  testsuite/testcases/src/test/cases/java/java.test
Owners: @sarowe

revert assertion change
  jflex/src/main/java/jflex/core/unicode/IntCharSet.java
Owners: @lsf37

revert change to test input
  testsuite/testcases/src/test/cases/java/java-1.input
Owners: @sarowe

update golden test output for input change
  jflex/examples/cup-java/src/test/data/lexer-output.good
Owners: @lsf37

Pseudo-Merge da33318 update golden test output for input change
  java/jflex/core/unicode/IntCharSet.java
Owners: @lsf37

Use bazel_rule v9 to bootstrap with JFlex 1.8.1 (#747)
  WORKSPACE
  jflex/pom.xml
  jflex/src/main/jflex/skeleton.nested
  jflex/src/main/jflex/skeleton.nested-1.8.0
  third_party/maven_install.json
Owners: @regis, @lsf37

Rename //third_party/com/github/vbmacher/java-cup-runtime to //third_party/java_cup
  javatests/jflex/testcase/cupsym/BUILD.bazel
  jflex/BUILD.bazel
  jflex/examples/cup-java-minijava/BUILD.bazel
  jflex/src/main/java/jflex/core/BUILD.bazel
  third_party/com/github/vbmacher/java-cup-runtime/BUILD.bazel
  third_party/com/github/vbmacher/java-cup/BUILD.bazel
  third_party/java_cup/BUILD.bazel
Owners: @lsf37

Improve error handling of file not found in ucd_generator
  java/jflex/ucd_generator/BUILD.bazel
  java/jflex/ucd_generator/Main.java
  java/jflex/ucd_generator/README.md
  java/jflex/ucd_generator/UcdGeneratorParams.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/ucd/UcdVersion.java
  java/jflex/ucd_generator/ucd/UcdVersions.java
  javatests/jflex/ucd_generator/ucd/UcdVersionsTest.java
Owners: @lsf37

Add fake intervals and propertyValueAliases in the vm template
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionVars.java
  java/jflex/ucd_generator/emitter/unicode_version/Unicode_x_y.java.vm
  javatests/jflex/ucd_generator/ucd/UcdVersionsTest.java
Owners: @lsf37

Update tests
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  javatests/jflex/ucd_generator/emitter/unicode_properties/UnicodePropertiesEmitterTest.java
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
  javatests/jflex/ucd_generator/ucd/UcdVersionsTest.java
Owners: @lsf37

Emit interals
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/emitter/unicode_version/Unicode_x_y.java.vm
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  java/jflex/ucd_generator/ucd/UcdVersion.java
  javatests/jflex/ucd_generator/emitter/unicode_properties/UnicodePropertiesEmitterTest.java
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterTest.java
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
  javatests/jflex/ucd_generator/ucd/UcdVersionsTest.java
Owners: @lsf37

Revert what I did today: The properties are not scanned in order.
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
Owners: @lsf37

Minor: rename propertyValues()
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
Owners: @lsf37

Add Ranges.substract()
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  java/jflex/ucd_generator/ucd/MutableCodepointRange.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

WIP addCompatibility Property intervals
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
Owners: @lsf37

Optimize CodepointRangeSet.substract() using a tree.
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

Simplify implementation of substract()
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
Owners: @lsf37

codestyle
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
Owners: @lsf37

Add compatibility "graph" and "print"
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
Owners: @lsf37

Fix name of geneneral and block categories
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/PropertyValues.java
  java/jflex/ucd_generator/util/PropertyNameNormalizer.java
Owners: @lsf37

Fix substract of self
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/model/PropertyValues.java
  java/jflex/ucd_generator/ucd/CodepointRangeSet.java
  java/jflex/ucd_generator/util/BUILD.bazel
  java/jflex/ucd_generator/util/PropertyNameNormalizer.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

Fix property value aliases
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/PropertyValues.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  java/jflex/ucd_generator/util/PropertyNameNormalizer.java
  javatests/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
Owners: @lsf37

Revert to old package name an public visibility.
  java/jflex/ucd_generator/emitter/unicode_version/Unicode_x_y.java.vm
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
Owners: @lsf37

Sort intervals in natural (alphabetical) order.
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
Owners: @lsf37

Minor: rename test to IntegrationTest
  java/jflex/ucd_generator/scanner/model/PropertyValues.java
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
Owners: @lsf37

Based tests on ucd_5_0 instead
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
  javatests/jflex/ucd_generator/scanner/BUILD.bazel
  javatests/jflex/ucd_generator/scanner/DerivedAgeScannerTest.java
Owners: @lsf37

Fix property aliases
  java/jflex/ucd_generator/scanner/model/PropertyValues.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  java/jflex/ucd_generator/util/PropertyNameNormalizer.java
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
Owners: @lsf37

Fix intervals WIP
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
  java/jflex/ucd_generator/scanner/model/PropertyValues.java
  java/jflex/ucd_generator/scanner/model/UnicodeData.java
  java/jflex/ucd_generator/ucd/CodepointRange.java
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/UcdScannerIntegrationTest.java
  javatests/jflex/ucd_generator/scanner/BUILD.bazel
Owners: @lsf37

Improve CodepointRange.toSrting() to show the hexa value
  java/jflex/ucd_generator/ucd/CodepointRange.java
Owners: @lsf37

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd
