Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd

Update README
  testsuite/testcases/src/test/cases/README.md
Owners: @sarowe

java format
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeFailureTest.java
  javatests/de/jflex/testcase/six_digit_unicode_escape/SixdigitunicodeescapeTest.java
Owners: @lsf37

Rename PropertyNameNormalizer to PropertyNames (#843)
  java/de/jflex/ucd_generator/scanner/AbstractPropertyAliasesScanner.java
  java/de/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
  java/de/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/de/jflex/ucd_generator/scanner/BUILD.bazel
  java/de/jflex/ucd_generator/scanner/PropertyAliasesScanner.flex
  java/de/jflex/ucd_generator/scanner/PropertyValueAliasesScanner.flex
  java/de/jflex/ucd_generator/ucd/BUILD.bazel
  java/de/jflex/ucd_generator/ucd/PropertyNames.java
  java/de/jflex/ucd_generator/ucd/PropertyValueIntervals.java
  java/de/jflex/ucd_generator/ucd/PropertyValues.java
  java/de/jflex/ucd_generator/ucd/UnicodeData.java
  java/de/jflex/ucd_generator/util/BUILD.bazel
Owners: @lsf37

Rename //third_party/unicode for consistency
  java/de/jflex/ucd_generator/BUILD.bazel
  javatests/de/jflex/ucd_generator/BUILD.bazel
  javatests/de/jflex/ucd_generator/MainTest.java
  javatests/de/jflex/ucd_generator/TestedVersions.java
  javatests/de/jflex/ucd_generator/scanner/BUILD.bazel
  third_party/unicode/BUILD.bazel
  third_party/unicode/README.md
  third_party/unicode/unicode.bzl
Owners: @lsf37

Rename //third_party/unicode for consistency
  java/de/jflex/ucd_generator/BUILD.bazel
  javatests/de/jflex/ucd_generator/BUILD.bazel
  javatests/de/jflex/ucd_generator/MainTest.java
  javatests/de/jflex/ucd_generator/TestedVersions.java
  javatests/de/jflex/ucd_generator/scanner/BUILD.bazel
  third_party/unicode/BUILD.bazel
  third_party/unicode/README.md
  third_party/unicode/unicode.bzl
Owners: @lsf37

Move CodePointRange in new package java/de/jflex
  java/de/jflex/BUILD.bazel
  java/de/jflex/ucd/BUILD.bazel
  java/de/jflex/ucd/CodepointRange.java
  java/de/jflex/ucd/SurrogateUtils.java
  java/de/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/de/jflex/ucd_generator/scanner/AbstractArchaicPropListScanner.java
  java/de/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/de/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/de/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/de/jflex/ucd_generator/ucd/BUILD.bazel
  java/de/jflex/ucd_generator/ucd/CodepointRangeSet.java
  java/de/jflex/ucd_generator/ucd/MutableCodepointRange.java
  java/de/jflex/ucd_generator/ucd/NamedCodepointRange.java
  java/de/jflex/ucd_generator/ucd/PropertyValueIntervals.java
  java/de/jflex/ucd_generator/ucd/UnicodeData.java
  javatests/de/jflex/ucd/BUILD.bazel
  javatests/de/jflex/ucd/SurrogateUtilsTest.java
  javatests/de/jflex/ucd_generator/scanner/UcdScannerIntegrationTest.java
  javatests/de/jflex/ucd_generator/ucd/BUILD.bazel
  javatests/de/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
  javatests/de/jflex/ucd_generator/ucd/UnicodeDataTest.java
Owners: @lsf37

Move CodePointRange in new package java/de/jflex
  java/de/jflex/BUILD.bazel
  java/de/jflex/ucd/BUILD.bazel
  java/de/jflex/ucd/CodepointRange.java
  java/de/jflex/ucd/SurrogateUtils.java
  java/de/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  java/de/jflex/ucd_generator/scanner/AbstractArchaicPropListScanner.java
  java/de/jflex/ucd_generator/scanner/AbstractBinaryPropertiesFileScanner.java
  java/de/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/de/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/de/jflex/ucd_generator/ucd/BUILD.bazel
  java/de/jflex/ucd_generator/ucd/CodepointRangeSet.java
  java/de/jflex/ucd_generator/ucd/MutableCodepointRange.java
  java/de/jflex/ucd_generator/ucd/NamedCodepointRange.java
  java/de/jflex/ucd_generator/ucd/PropertyValueIntervals.java
  java/de/jflex/ucd_generator/ucd/UnicodeData.java
  javatests/de/jflex/ucd/BUILD.bazel
  javatests/de/jflex/ucd/SurrogateUtilsTest.java
  javatests/de/jflex/ucd_generator/scanner/UcdScannerIntegrationTest.java
  javatests/de/jflex/ucd_generator/ucd/BUILD.bazel
  javatests/de/jflex/ucd_generator/ucd/CodepointRangeSetTest.java
  javatests/de/jflex/ucd_generator/ucd/UnicodeDataTest.java
Owners: @lsf37

Move TestCase migration tool to java/de/jflex/migration/testcase/
  java/de/jflex/migration/testcase/BUILD-header.bzl
  java/de/jflex/migration/testcase/BUILD.bazel
  java/de/jflex/migration/testcase/BUILD.vm
  java/de/jflex/migration/testcase/MigrationException.java
  java/de/jflex/migration/testcase/MigrationTemplateVars.java
  java/de/jflex/migration/testcase/Migrator.java
  java/de/jflex/migration/testcase/README.md
  java/de/jflex/migration/testcase/TestCase.java
  java/de/jflex/migration/testcase/TestCase.java.vm
  java/de/jflex/migration/testcase/TestSpecScanner.flex
Owners: @lsf37

Move TestCase migration tool to java/de/jflex/migration/testcase/
  java/de/jflex/migration/testcase/BUILD-header.bzl
  java/de/jflex/migration/testcase/BUILD.bazel
  java/de/jflex/migration/testcase/BUILD.vm
  java/de/jflex/migration/testcase/MigrationException.java
  java/de/jflex/migration/testcase/MigrationTemplateVars.java
  java/de/jflex/migration/testcase/Migrator.java
  java/de/jflex/migration/testcase/README.md
  java/de/jflex/migration/testcase/TestCase.java
  java/de/jflex/migration/testcase/TestCase.java.vm
  java/de/jflex/migration/testcase/TestSpecScanner.flex
Owners: @lsf37

java-format
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeAgeTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeAgeTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeAgeTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeAgeTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAgeTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAgeTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAgeTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeAgeTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeAgeTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeAgeTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeAgeTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeAgeTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeAgeTest_5_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeAgeTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeAgeTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeAgeTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeAgeTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeAgeTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeAgeTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeAgeTest_9_0.java
  javatests/de/jflex/ucd/SurrogateUtilsTest.java
Owners: @lsf37

Add prohibited dep test.
  javatests/de/jflex/testcase/flex_syntax_error/BUILD.bazel
  javatests/de/jflex/testcase/negation/BUILD.bzl
  javatests/de/jflex/testcase/six_digit_unicode_escape/BUILD.bazel
  javatests/de/jflex/testcase/spoon_feed_reader/BUILD.bazel
Owners: @lsf37

Simplify Migrator with Velocity change #852
  java/de/jflex/migration/testcase/Migrator.java
Owners: @lsf37

Simplify Migrator with Velocity change #852
  java/de/jflex/migration/testcase/Migrator.java
Owners: @lsf37

Add prohibited dep test.
  javatests/de/jflex/testcase/flex_syntax_error/BUILD.bazel
  javatests/de/jflex/testcase/negation/BUILD.bzl
  javatests/de/jflex/testcase/six_digit_unicode_escape/BUILD.bazel
  javatests/de/jflex/testcase/spoon_feed_reader/BUILD.bazel
Owners: @lsf37

Create javatests/de/jflex/testcase/unicode/ BUILD files
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_3/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_7_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_8_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
Owners: @lsf37

Tool to generate javatests/de/jflex/testcase/unicode/ tests
  java/de/jflex/migration/testcase/BUILD.bazel
  java/de/jflex/migration/testcase/Migrator.java
  java/de/jflex/migration/testcase/TestCase.java.vm
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/BuildFileGenerator.java
  java/de/jflex/migration/unicodedatatest/BuildFileTemplateVars.java
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/base/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersion.java
  java/de/jflex/migration/util/BUILD.bazel
  java/de/jflex/migration/util/JavaResources.java
  java/de/jflex/version/Version.java
Owners: @lsf37

Add a filegroup to generate all files at once
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/build_defs.bzl
Owners: @lsf37

Scaffold of regression tests for Unicode tests in //javatests (#863)
  java/de/jflex/migration/testcase/BUILD.bazel
  java/de/jflex/migration/testcase/Migrator.java
  java/de/jflex/migration/testcase/TestCase.java.vm
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/BuildFileGenerator.java
  java/de/jflex/migration/unicodedatatest/BuildFileTemplateVars.java
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/base/AbstractGenerator.java
  java/de/jflex/migration/unicodedatatest/base/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersion.java
  java/de/jflex/migration/unicodedatatest/build_defs.bzl
  java/de/jflex/migration/util/BUILD.bazel
  java/de/jflex/migration/util/JavaResources.java
  java/de/jflex/version/Version.java
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_3/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_7_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_8_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
Owners: @lsf37

Extend BUILD with //javatests/de/jflex/testcase/unicode/unicode_x_y:UnicodeAgeTest_x_y test targets
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/BuildFileGenerator.java
  java/de/jflex/migration/unicodedatatest/BuildFileTemplateVars.java
  java/de/jflex/migration/unicodedatatest/base/Pair.java
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/util/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/util/JavaResources.java
  java/de/jflex/testing/unicodedata/AbstractEnumeratedPropertyDefinedScanner.java
  java/de/jflex/testing/unicodedata/BUILD.bazel
  java/de/jflex/testing/unicodedata/BlockSpec.java
  java/de/jflex/testing/unicodedata/UnicodeDataScanners.java
Owners: @lsf37

Generate Age tests.
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/build_defs.bzl
  java/de/jflex/migration/unicodedatatest/generate.sh
  java/de/jflex/migration/unicodedatatest/testage/AgeTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testage/README.md
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAge.flex.vm
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeFlexTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtraction.flex.vm
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeSubtractionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTestTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testage/UnicodeAgeTest_x_y.java.vm
  java/de/jflex/migration/unicodedatatest/testage/build_defs.bzl
Owners: @lsf37

Also Generate Age subtraction and unassigned.
  java/de/jflex/migration/unicodedatatest/build_defs.bzl
  java/de/jflex/migration/unicodedatatest/testage/build_defs.bzl
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_3/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_7_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_8_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
Owners: @lsf37

java-format
  javatests/de/jflex/testcase/unicode/unicode_10_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeAgeTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeAgeTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeAgeTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeAgeTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeAgeTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeAgeTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeAgeTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeAgeTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeAgeTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeAgeTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeAgeTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeAgeTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeAgeTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeAgeTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeAgeTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeAgeTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeAgeTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeAgeTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeAgeTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeAgeTest_9_0.java
Owners: @lsf37

Document how to support a new unicode version
  docs/howto/new_unicode_version.md
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/base/README.md
  java/de/jflex/migration/unicodedatatest/testage/README.md
  jflex/src/main/java/jflex/core/unicode/README.md
  third_party/unicode/README.md
Owners: @lsf37

Document how to support a new unicode version
  docs/howto/new_unicode_version.md
  java/de/jflex/migration/unicodedatatest/README.md
  java/de/jflex/migration/unicodedatatest/base/README.md
  java/de/jflex/migration/unicodedatatest/testage/README.md
  jflex/src/main/java/jflex/core/unicode/README.md
  third_party/unicode/README.md
Owners: @lsf37

Fix generation using common KNOWN_PROPERTIES
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
Owners: @lsf37

Loop over KNWON_VERSIONS to make all build rules
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/generate.sh
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_2/BUILD.bazel
Owners: @lsf37

Loop over KNWON_VERSIONS to make all build rules
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/generate.sh
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_2/BUILD.bazel
Owners: @lsf37

Reformat java files after gen Run buildifier after gen
  java/de/jflex/migration/unicodedatatest/generate.sh
Owners: @lsf37

Run generate.sh script again.
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeAgeTest_5_2.java
Owners: @lsf37

Loop over KNWON_VERSIONS to make all build rules (#866)
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/generate.sh
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_2/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeAgeTest_5_2.java
Owners: @lsf37

Remove commentbetween blockspec def.
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTest.java.vm
Owners: @lsf37

Re-generate x_y.java
  java/de/jflex/migration/unicodedatatest/generate.sh
  javatests/de/jflex/testcase/unicode/unicode_10_0/UnicodeBlocksTest_10_0.java
  javatests/de/jflex/testcase/unicode/unicode_11_0/UnicodeBlocksTest_11_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_0/UnicodeBlocksTest_12_0.java
  javatests/de/jflex/testcase/unicode/unicode_12_1/UnicodeBlocksTest_12_1.java
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeBlocksTest_2_0.java
  javatests/de/jflex/testcase/unicode/unicode_2_1/UnicodeBlocksTest_2_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_0/UnicodeBlocksTest_3_0.java
  javatests/de/jflex/testcase/unicode/unicode_3_1/UnicodeBlocksTest_3_1.java
  javatests/de/jflex/testcase/unicode/unicode_3_2/UnicodeBlocksTest_3_2.java
  javatests/de/jflex/testcase/unicode/unicode_4_0/UnicodeBlocksTest_4_0.java
  javatests/de/jflex/testcase/unicode/unicode_4_1/UnicodeBlocksTest_4_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_0/UnicodeBlocksTest_5_0.java
  javatests/de/jflex/testcase/unicode/unicode_5_1/UnicodeBlocksTest_5_1.java
  javatests/de/jflex/testcase/unicode/unicode_5_2/UnicodeBlocksTest_5_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_0/UnicodeBlocksTest_6_0.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeBlocksTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeBlocksTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeBlocksTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_7_0/UnicodeBlocksTest_7_0.java
  javatests/de/jflex/testcase/unicode/unicode_8_0/UnicodeBlocksTest_8_0.java
  javatests/de/jflex/testcase/unicode/unicode_9_0/UnicodeBlocksTest_9_0.java
Owners: @lsf37

Revert removal of /unicode-blocks-f-flex.output
  java/de/jflex/migration/unicodedatatest/generate.sh
  testsuite/testcases/src/test/cases/unicode-blocks/unicode-blocks-f-flex.output
  testsuite/testcases/src/test/resources/common-unicode-all-binary-property-java
  testsuite/testcases/src/test/resources/common-unicode-all-enumerated-property-java
  testsuite/testcases/src/test/resources/common-unicode-enumerated-property-defined-values-only-java
Owners: @lsf37, @sarowe

Generate blocks from TESTED_VERSIONS
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/build_defs.bzl
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeBlocksTest_6_1.java
  javatests/de/jflex/testcase/unicode/unicode_6_1/UnicodeBlocks_6_1.flex
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeBlocksTest_6_2.java
  javatests/de/jflex/testcase/unicode/unicode_6_2/UnicodeBlocks_6_2.flex
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeBlocksTest_6_3.java
  javatests/de/jflex/testcase/unicode/unicode_6_3/UnicodeBlocks_6_3.flex
Owners: @lsf37

Refactoting in migration/unicodedatatest - Introduce TEST_VERSIONS in base build_defs.bzl - Minor changes
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/build_defs.bzl
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  java/de/jflex/ucd_generator/README.md
  java/de/jflex/util/javac/JavaPackageUtils.java
Owners: @lsf37

Generate UnicodeBLocksTest
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/base/AbstractSimpleParser.java
  java/de/jflex/migration/unicodedatatest/generate.sh
  java/de/jflex/migration/unicodedatatest/testblock/AbstractBlocksGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/README.md
  java/de/jflex/migration/unicodedatatest/testblock/SimpleBlocksParser.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlock.flex.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTest.java.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testblock/gen_scanner.bzl
  java/de/jflex/testcase/resources/AbstractUnicodeAllBinaryProperty.java
  javatests/de/jflex/migration/unicodedatatest/base/AbstractSimpleParserTest.java
  javatests/de/jflex/migration/unicodedatatest/base/BUILD.bazel
  javatests/de/jflex/testcase/unicode/README.md
Owners: @lsf37

Refactoting in migration/unicodedatatest - Introduce TEST_VERSIONS in base build_defs.bzl - Minor changes
  java/de/jflex/migration/unicodedatatest/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/base/UnicodeVersionTemplateVars.java
  java/de/jflex/migration/unicodedatatest/build_defs.bzl
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  java/de/jflex/ucd_generator/README.md
  java/de/jflex/util/javac/JavaPackageUtils.java
Owners: @lsf37

Generate UnicodeBLocksTest
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/base/AbstractSimpleParser.java
  java/de/jflex/migration/unicodedatatest/generate.sh
  java/de/jflex/migration/unicodedatatest/testblock/AbstractBlocksGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/BlocksTestGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/README.md
  java/de/jflex/migration/unicodedatatest/testblock/SimpleBlocksParser.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlock.flex.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlockFlexTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTest.java.vm
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaGenerator.java
  java/de/jflex/migration/unicodedatatest/testblock/UnicodeBlocksTestJavaTemplateVars.java
  java/de/jflex/migration/unicodedatatest/testblock/gen_scanner.bzl
  java/de/jflex/testcase/resources/AbstractUnicodeAllBinaryProperty.java
  javatests/de/jflex/migration/unicodedatatest/base/AbstractSimpleParserTest.java
  javatests/de/jflex/migration/unicodedatatest/base/BUILD.bazel
  javatests/de/jflex/testcase/unicode/README.md
Owners: @lsf37

Rename the targets.
  java/de/jflex/migration/unicodedatatest/BUILD.vm
  java/de/jflex/migration/unicodedatatest/generate.sh
  java/de/jflex/migration/unicodedatatest/testage/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/BUILD.bazel
  java/de/jflex/migration/unicodedatatest/testblock/build_defs.bzl
Owners: @lsf37

Ignore UnicodeBlocksTest_2_0 because of #835
  javatests/de/jflex/testcase/unicode/unicode_2_0/UnicodeBlocksTest_2_0.java
Owners: @lsf37
