Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd

Revert "Update to add back to addString."
  jflex/src/test/java/jflex/core/unicode/CharClassesQuickcheck.java
Owners: @lsf37

Revert "Add addStringCaseless to provide a caseless version of addString"
  jflex/src/test/java/jflex/core/unicode/CharClassesQuickcheck.java
Owners: @lsf37

Use contains elements and move logic to StateSet to make test more black box.
  jflex/src/main/java/jflex/state/StateSet.java
  jflex/src/test/java/jflex/state/StateSetQuickcheck.java
Owners: @lsf37

Use contains elements and move logic to StateSet to make test more black box.
  jflex/src/main/java/jflex/state/StateSet.java
  jflex/src/test/java/jflex/state/StateSetQuickcheck.java
Owners: @lsf37

Use contains elements and move logic to StateSet to make test more black box.
  jflex/src/main/java/jflex/state/StateSet.java
Owners: @lsf37

Property test improvement (#953)
  jflex/src/main/java/jflex/state/StateSet.java
  jflex/src/test/java/jflex/core/unicode/BUILD.bazel
  jflex/src/test/java/jflex/core/unicode/CharClassesQuickcheck.java
  jflex/src/test/java/jflex/core/unicode/IntCharGen.java
  jflex/src/test/java/jflex/core/unicode/IntCharSetGen.java
  jflex/src/test/java/jflex/state/BUILD.bazel
  jflex/src/test/java/jflex/state/OffsetGen.java
  jflex/src/test/java/jflex/state/StateSetGen.java
  jflex/src/test/java/jflex/state/StateSetQuickcheck.java
Owners: @lsf37

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Owners: @lsf37

dependencies: upgrade fmt-maven-plugin to 2.19
  cup-maven-plugin/src/main/java/jflex/maven/plugin/cup/GenerateMojo.java
  java/de/jflex/ucd_generator/ucd/PropertyValueIntervals.java
  jflex-maven-plugin/src/test/java/jflex/maven/plugin/jflex/JFlexMojoTest.java
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/java/jflex/core/unicode/CharClasses.java
  jflex/src/main/java/jflex/core/unicode/IntCharSet.java
  pom.xml
  scripts/test-java-format.sh
Owners: @lsf37, @regisd

dependencies: upgrade fmt-maven-plugin to 2.19 (#977)
  cup-maven-plugin/src/main/java/jflex/maven/plugin/cup/GenerateMojo.java
  java/de/jflex/ucd_generator/ucd/PropertyValueIntervals.java
  jflex-maven-plugin/src/test/java/jflex/maven/plugin/jflex/JFlexMojoTest.java
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/java/jflex/core/unicode/CharClasses.java
  jflex/src/main/java/jflex/core/unicode/IntCharSet.java
  pom.xml
  scripts/test-java-format.sh
Owners: @lsf37, @regisd

jflex pom: add inline m2e lifecycle mapping
  jflex/pom.xml
Owners: @lsf37

jflex pom: add inline m2e lifecycle mapping (#978)
  jflex/pom.xml
Owners: @lsf37

dependencies: upgrade maven-shade-plugin to 3.3.0
  jflex/examples/cup-interpreter/pom.xml
  jflex/examples/cup-java/pom.xml
  jflex/examples/cup-lcalc/pom.xml
  pom.xml
Owners: @lsf37

pom: fix maven-shade-plugin errors
  cup-maven-plugin/pom.xml
  jflex-maven-plugin/pom.xml
  testsuite/jflex-testsuite-maven-plugin/pom.xml
Owners: @lsf37, @regisd, @sarowe

dependencies: upgrade maven-shade-plugin to 3.3.0
  jflex/examples/cup-interpreter/pom.xml
  jflex/examples/cup-java/pom.xml
  jflex/examples/cup-lcalc/pom.xml
  pom.xml
Owners: @lsf37

pom: fix maven-shade-plugin errors (#981)
  cup-maven-plugin/pom.xml
  jflex-maven-plugin/pom.xml
  testsuite/jflex-testsuite-maven-plugin/pom.xml
Owners: @lsf37, @regisd, @sarowe

maven-plugins: add m2e lifecycle mapping xml
  cup-maven-plugin/pom.xml
  cup-maven-plugin/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
  jflex-maven-plugin/pom.xml
  jflex-maven-plugin/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
Owners: @lsf37, @regisd

cup-maven-plugin: bump version
  cup-maven-plugin/README.md
  cup-maven-plugin/pom.xml
Owners: @lsf37

cup-maven-plugin: bump version
  cup-maven-plugin/README.md
  cup-maven-plugin/pom.xml
Owners: @lsf37

maven-plugins: add m2e lifecycle mapping xml
  cup-maven-plugin/pom.xml
  cup-maven-plugin/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
  jflex-maven-plugin/pom.xml
  jflex-maven-plugin/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
Owners: @lsf37, @regisd

testsuite: remove invalid OrphanedFormatString warning
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
Owners: @lsf37

testsuite: remove invalid OrphanedFormatString warning (#983)
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
Owners: @lsf37

testsuite: sync verbosity behaviour with main jflex
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
  java/de/jflex/testing/testsuite/annotations/TestSpec.java
Owners: @lsf37

core: fix typo
  jflex/src/main/java/jflex/core/AbstractLexScan.java
Owners: @lsf37

testsuite: sync verbosity behaviour with main jflex (#984)
  java/de/jflex/testing/testsuite/JFlexTestRunner.java
  java/de/jflex/testing/testsuite/annotations/TestSpec.java
  jflex/src/main/java/jflex/core/AbstractLexScan.java
Owners: @lsf37

jflex src: reduce warnings
  jflex/src/main/java/jflex/core/Macros.java
  jflex/src/test/java/jflex/dfa/DfaTest.java
  jflex/src/test/java/jflex/state/StateSetQuickcheck.java
Owners: @lsf37

core: guard against characters beyond the input set
  jflex/src/main/java/jflex/core/NFA.java
  jflex/src/main/java/jflex/core/unicode/CharClasses.java
Owners: @lsf37

javatests: add test for #974
  javatests/de/jflex/testcase/ccl_caseless/BUILD.bazel
  javatests/de/jflex/testcase/ccl_caseless/Ccl_caselessGoldenTest.java
  javatests/de/jflex/testcase/ccl_caseless/ccl_caseless-0.input
  javatests/de/jflex/testcase/ccl_caseless/ccl_caseless-0.output
  javatests/de/jflex/testcase/ccl_caseless/ccl_caseless.flex
Owners: @lsf37

jflex src: reduce warnings
  jflex/src/main/java/jflex/core/Macros.java
  jflex/src/test/java/jflex/dfa/DfaTest.java
  jflex/src/test/java/jflex/state/StateSetQuickcheck.java
Owners: @lsf37

core: guard against characters beyond the input set
  jflex/src/main/java/jflex/core/NFA.java
  jflex/src/main/java/jflex/core/unicode/CharClasses.java
Owners: @lsf37

javatests: add test for #974
  javatests/de/jflex/testcase/ccl_caseless/BUILD.bazel
  javatests/de/jflex/testcase/ccl_caseless/Ccl_caselessGoldenTest.java
  javatests/de/jflex/testcase/ccl_caseless/ccl_caseless-0.input
  javatests/de/jflex/testcase/ccl_caseless/ccl_caseless-0.output
  javatests/de/jflex/testcase/ccl_caseless/ccl_caseless.flex
Owners: @lsf37

github: update workflow action versions
  .github/workflows/build.yml
  .github/workflows/gjf.yml
Owners: @lsf37

github: update workflow action versions (#988)
  .github/workflows/build.yml
  .github/workflows/gjf.yml
Owners: @lsf37

test cases for #986
  javatests/de/jflex/testcase/ccl_init/BUILD.bazel
  javatests/de/jflex/testcase/ccl_init/CclDoubleTest.java
  javatests/de/jflex/testcase/ccl_init/CclInitTest.java
  javatests/de/jflex/testcase/ccl_init/ccl.flex
  javatests/de/jflex/testcase/ccl_init/ccl2.flex
Owners: @lsf37

jflex main: factor out char class creation
  jflex/src/main/cup/LexParse.cup
  jflex/src/main/java/jflex/core/AbstractLexScan.java
  jflex/src/main/java/jflex/core/Macros.java
  jflex/src/main/java/jflex/core/RegExp.java
  jflex/src/main/java/jflex/core/RegExps.java
  jflex/src/main/java/jflex/core/unicode/BUILD.bazel
  jflex/src/main/java/jflex/core/unicode/CharClasses.java
  jflex/src/main/java/jflex/l10n/ErrorMessages.java
  jflex/src/main/jflex/LexScan.flex
  jflex/src/main/resources/jflex/Messages.properties
  jflex/src/test/java/jflex/core/RegExpTest.java
  jflex/src/test/java/jflex/core/unicode/CharClassesGen.java
Owners: @lsf37

cup-maven-plugin test: replace createTempDir()
  cup-maven-plugin/src/test/java/jflex/maven/plugin/cup/GenerateMojoTest.java
Owners: @lsf37

jflex UnicodeProperties: remove warning
  jflex/src/main/java/jflex/core/unicode/UnicodeProperties.java
Owners: @lsf37

cup-maven-plugin test: replace createTempDir() (#990)
  cup-maven-plugin/src/test/java/jflex/maven/plugin/cup/GenerateMojoTest.java
Owners: @lsf37

jflex UnicodeProperties: remove warning (#992)
  jflex/src/main/java/jflex/core/unicode/UnicodeProperties.java
Owners: @lsf37

anttask: provide clone() implementation
  jflex/src/main/java/jflex/anttask/JFlexTask.java
Owners: @lsf37

maven-testsuite: remove potential Null deref
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/DiffStream.java
Owners: @sarowe
