Repository jflex-de/jflex, changes with the owners that CODEOWNERS names for each.
All owners: @lsf37, @sarowe, @regisd, @regis

Improve UcdVersions.toString()
  java/jflex/ucd_generator/ucd/UcdVersions.java
Owners: @lsf37

Add Charset
  java/jflex/ucd_generator/emitter/common/UcdEmitter.java
Owners: @lsf37

Limit to building Unicode 4.1.0 while WIP
  java/jflex/ucd_generator/BUILD.bazel
Owners: @lsf37

Test UnicodeDataScannerTest on ucd 4.1 and 10
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/unicode_version/Unicode_x_y.java.vm
  javatests/jflex/ucd_generator/emitter/unicode_version/Unicode_0_1.java.golden
  javatests/jflex/ucd_generator/scanner/BUILD.bazel
  javatests/jflex/ucd_generator/scanner/UnicodeDataScannerTest.java
Owners: @lsf37

Add integration tests
  java/jflex/ucd_generator/UcdGenerator.java
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdGeneratorIntegrationTest.java
  javatests/jflex/ucd_generator/UcdScannerTest.java
  javatests/jflex/ucd_generator/scanner/UnicodeDataScannerTest.java
Owners: @lsf37

Make field final
  java/jflex/velocity/Velocity.java
Owners: @lsf37

Add LineBreak scanner
  java/jflex/ucd_generator/UcdGenerator.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/common/UcdEmitter.java
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  java/jflex/ucd_generator/scanner/EnumeratedPropertyFileScanner.flex
  java/jflex/ucd_generator/util/SurrogateUtils.java
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdScannerTest.java
  javatests/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitterTest.java
  javatests/jflex/ucd_generator/scanner/UnicodeDataScannerTest.java
Owners: @lsf37

Add test on property value aliases
  javatests/jflex/ucd_generator/UcdScannerTest.java
Owners: @lsf37

Scan GraphemeBreakProperty
  java/jflex/ucd_generator/UcdScanner.java
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdScannerTest.java
  jflex/src/main/java/jflex/core/unicode/data/Unicode_10_0.java
Owners: @lsf37

scan SentenceBreakProperty
  java/jflex/ucd_generator/UcdScanner.java
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdScannerTest.java
Owners: @lsf37

scan WordBreakProperty
  java/jflex/ucd_generator/UcdScanner.java
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdScannerTest.java
Owners: @lsf37

scan DerivedAge
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/BUILD.bazel
  java/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/jflex/ucd_generator/scanner/EnumeratedPropertyFileScanner.flex
  java/jflex/ucd_generator/ucd/NamedCodepointRange.java
  javatests/jflex/ucd_generator/BUILD.bazel
  javatests/jflex/ucd_generator/TestedVersions.java
  javatests/jflex/ucd_generator/UcdScannerTest.java
  javatests/jflex/ucd_generator/scanner/BUILD.bazel
  javatests/jflex/ucd_generator/scanner/DerivedAgeScannerTest.java
  javatests/jflex/ucd_generator/scanner/UnicodeDataScannerIntegrationTest.java
  third_party/unicode/unicode.bzl
Owners: @lsf37

Add default property value
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/DerivedAgeScanner.java
  java/jflex/ucd_generator/scanner/EnumeratedPropertyFileScanner.flex
Owners: @lsf37

Remove debug sysout
  java/jflex/ucd_generator/UcdScanner.java
  javatests/jflex/ucd_generator/UcdScannerTest.java
Owners: @lsf37

google-java-format
  java/jflex/ucd_generator/scanner/AbstractScriptExtensionsScanner.java
  javatests/jflex/ucd_generator/UcdScannerTest.java
Owners: @lsf37

Rename BUILD to BUILD.bazel
  java/jflex/ucd_generator/scanner/model/BUILD.bazel
Owners: @lsf37

Roll back the reduced scope of versions for gen_unicode_properties
  java/jflex/ucd_generator/BUILD.bazel
Owners: @lsf37

Improve error handling when a zzScanError is thrown.
  java/jflex/ucd_generator/UcdGenerator.java
Owners: @lsf37

Generate only UCD for v5 and above.
  java/jflex/ucd_generator/BUILD.bazel
Owners: @lsf37

Revert accidental change in jflex/src/main/java/jflex/core/unicode/data/Unicode_10_0.java
  jflex/src/main/java/jflex/core/unicode/data/Unicode_10_0.java
Owners: @lsf37

Code style improvements
  java/jflex/ucd_generator/scanner/AbstractEnumeratedPropertyFileScanner.java
  java/jflex/ucd_generator/scanner/PropertyNameNormalizer.java
  java/jflex/ucd_generator/ucd/Versions.java
  java/jflex/ucd_generator/util/PropertyNameNormalizer.java
  jflex-unicode-maven-plugin/src/main/java/jflex/maven/plugin/unicode/UnicodeVersion.java
Owners: @lsf37, @sarowe

Use bazel_rule v9 to bootstrap with JFlex 1.8.1
  WORKSPACE
Owners: @regis

Remove old skeleton.nested
  jflex/pom.xml
  jflex/src/main/jflex/skeleton.nested
  jflex/src/main/jflex/skeleton.nested-1.8.0
Owners: @lsf37

Pin unpinned Maven artifacts
  third_party/maven_install.json
Owners: @lsf37

Make testRuntimeDir final.
  java/jflex/migration/TestCase.java.vm
  javatests/jflex/testcase/caseless_jflex/CaselessGoldenTest.java
  javatests/jflex/testcase/caseless_jlex/CaselessGoldenTest.java
  javatests/jflex/testcase/ccl_macros/CclmacrosGoldenTest.java
  javatests/jflex/testcase/ccl_pre/CclPreGoldenTest.java
  javatests/jflex/testcase/cupsym/CupsymGoldenTest.java
  javatests/jflex/testcase/dot_newline/DotnewlineGoldenTest.java
  javatests/jflex/testcase/empty_match/EmptymatchGoldenTest.java
  javatests/jflex/testcase/eof/EofGoldenTest.java
  javatests/jflex/testcase/eof_min/EofminGoldenTest.java
  javatests/jflex/testcase/eol_look/EolGoldenTest.java
  javatests/jflex/testcase/fixed_look/FixedlookGoldenTest.java
  javatests/jflex/testcase/generics/Generics4GoldenTest.java
  javatests/jflex/testcase/genlook/GenlookGoldenTest.java
  javatests/jflex/testcase/genlook2/Genlook2GoldenTest.java
  javatests/jflex/testcase/include/IncludeGoldenTest.java
  javatests/jflex/testcase/include2/Include2GoldenTest.java
  javatests/jflex/testcase/include_in_rules/IncludeInRulesGoldenTest.java
  javatests/jflex/testcase/look/LookGoldenTest.java
  javatests/jflex/testcase/look_macro/LookmacroGoldenTest.java
Owners: @lsf37

Make bug[] final
  java/jflex/testing/diff/DiffOutputStream.java
Owners: @lsf37

Exclude all generated code from error-prone.
  .bazelrc
Owners: @lsf37

Change names of Cli,Gui to Cli,Main
  README.md
  jflex/BUILD.bazel
  jflex/src/main/java/jflex/BUILD.bazel
  jflex/src/main/java/jflex/Cli.java
  jflex/src/main/java/jflex/Gui.java
  jflex/src/main/java/jflex/Main.java
  testsuite/jflex-testsuite-maven-plugin/src/main/java/jflex/maven/plugin/testsuite/ExecUtils.java
Owners: @lsf37, @sarowe

format code
  jflex/src/main/java/jflex/Cli.java
  jflex/src/main/java/jflex/Main.java
Owners: @lsf37

Remove reference equality
  .bazelrc
  jflex/src/main/java/jflex/core/Action.java
  jflex/src/main/java/jflex/core/unicode/IntCharSet.java
Owners: @lsf37

Keep UnnecessaryParentheses disabled
  .bazelrc
Owners: @lsf37

Reenable CatchAndPrintStackTrace
  .bazelrc
Owners: @lsf37

Replace guava Charsets by java StandardCharsets
  java/jflex/migration/Migrator.java
  java/jflex/testing/testsuite/JFlexTestRunner.java
  java/jflex/testing/testsuite/golden/AbstractGoldenTest.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/unicode_properties/UnicodePropertiesEmitter.java
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  javatests/jflex/ucd_generator/scanner/UnicodeDataScannerIntegrationTest.java
Owners: @lsf37

Fix DefaultCharset Bump DefaultCharset to error https://errorprone.info/bugpattern/DefaultCharset
  .bazelrc
  java/jflex/migration/Migrator.java
  java/jflex/testing/testsuite/JFlexTestRunner.java
  java/jflex/testing/testsuite/golden/AbstractGoldenTest.java
  java/jflex/ucd_generator/UcdScanner.java
  java/jflex/ucd_generator/emitter/unicode_properties/UnicodePropertiesEmitter.java
  java/jflex/ucd_generator/emitter/unicode_version/UnicodeVersionEmitter.java
  javatests/jflex/ucd_generator/scanner/UnicodeDataScannerIntegrationTest.java
  jflex/examples/simple/src/test/java/YylexTest.java
  jflex/src/main/java/jflex/core/Action.java
Owners: @lsf37

Fix ConstructorInvokesOverridable by making methods final.
  jflex/src/main/java/jflex/anttask/JFlexTask.java
Owners: @lsf37

SuppressWarnings on ConstructorInvokesOverridable for OptionsDialog.java
  jflex/src/main/java/jflex/gui/OptionsDialog.java
Owners: @lsf37

Increase ConstructorInvokesOverridable to ERROR
  .bazelrc
Owners: @lsf37

Remove cup from the XepExcludedPaths Follow-up of #734
  .bazelrc
Owners: @lsf37

Add default case to switch statements https://errorprone.info/bugpattern/MissingDefault
  .bazelrc
  jflex/src/main/java/jflex/core/NFA.java
  jflex/src/main/java/jflex/core/RegExp.java
  jflex/src/main/java/jflex/core/SemCheck.java
  jflex/src/main/java/jflex/gui/GridPanel.java
Owners: @lsf37

Enable Unused at ERROR
  .bazelrc
  java/jflex/ucd_generator/scanner/AbstractPropertyValueAliasesScanner.java
  java/jflex/ucd_generator/scanner/model/PropertyValueIntervals.java
Owners: @lsf37

CODEOWNERS:

# Default owner for everything, unless a later match takes precedence
# This project was created by Gerwin
*	@lsf37

# The jflex-unicode-maven-plugin was author by Steve
/jflex-unicode-maven-plugin/  @sarowe
/testsuite/  @sarowe

# The Maven plugin was initally authored by Régis
/jflex-maven-plugin/	@regisd
# Régis also knows more Bazel confg
WORKSPACE	@regis
BUILD	@regisd
